<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
	    {% block title %}
    	{% endblock title %}
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    	<meta name="author" content="Chad Heise and Jacob Wenger">
	    
        <!-- CSS files -->
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/main.css" />
    	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/header.css" />
    	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/960_24_col.css" />
        <!--[if IE]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/960_24_col_IE6_IE7.css" /><![endif]-->
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/suggestions.css" />
        {% block css %}
        {% endblock css %}
        
        <!-- JavaScript files -->
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}/js/ajaxPost.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}/js/header.js"></script>
        {% block js %}
        {% endblock js %}
    </head>

    <body>
        {% include "header.html" %}

        {% block mainContent %}
        {% endblock mainContent %}
    
        {% block footer %}
        {% endblock footer %}
    </body>
</html>
