{% if circle %}
    <div id="circleButtonsContainer">
        <input id="addToCircleInput" type="text" circleID="{{ circle.id }}" />
        <p id="addToCircleSuggestions" class="suggestions"></p> 
        <input id="deleteCircleButton" type="button" value="Delete this circle" />
    </div>
{% endif %}

<div id="circleMembers">
    {% if members %}
        {% for m in members %}
            {% include "memberCard.html" %}
        {% endfor %}
    {% else %}
        <p>There is no one in this circle.</p>
    {% endif %}
</div>
