<div class="grid_17 alpha omega">
    <!-- Accepted circle -->
    <button class="circle selectedCircle" circleID="-1">Accepted</button>

    <!-- User-created circles -->
    {% for circle in circles %}
        <button class="circle" circleID="{{ circle.id }}">{{ circle.name }}</button>
    {% endfor %}

    <!-- New circle -->
    <button id="newCircle" class="circle"><input id="newCircleInput" type="text" /></button>
    
    <!-- Create circle button -->
    <button id="createCircleButton">+</button>
    
    <!-- Circle content -->
    <div id="circleContent">
        <div id="circleMembers">
            {% for m in members %}
                {% include "memberCard.html" %}
            {% empty %}
                <p>There is no one in this circle.</p>
            {% endfor %}
        </div>
    </div>
</div>
