{% if member.is_staff %}
    <!-- Location name -->
    <label for="nameInput" class="infoLabel">Name:</label>
    </br>
    <input id="nameInput" class="formInput" value="{{ location.name }}" />

    <!-- Location street -->
    <label for="streetInput" class="infoLabel">Street:</label>
    <br />
    <input id="streetInput" class="formInput" value="{{ location.street }}" />

    <!-- Location city -->
    <label for="cityInput" class="infoLabel">City:</label>
    <br />
    <input id="cityInput" class="formInput" value="{{ location.city }}" />

    <!-- Location state -->
    <label for="stateInput" class="infoLabel">State:</label>
    <br />
    <select id="stateSelect" class="formSelect">
        {% for state, abbreviation in states %}
            <option value="{{ abbreviation }}" {% if abbreviation == location.state %}selected="selected"{% endif %}>{{ state }} ({{ abbreviation }})</option>
        {% endfor %}
    </select>

    <!-- Location zip code -->
    <label for="zipCodeInput" class="infoLabel">Zip code:</label>
    <br />
    <input id="zipCodeInput" class="formInput" value="{{ location.zip_code }}" />

    <!-- Location phone -->
    <label for="phoneInput" class="infoLabel">Phone:</label>
    <br />
    <input id="phoneInput" class="formInput" value="{{ location.phone }}" />

    <!-- Location website -->
    <label for="websiteInput" class="infoLabel">Website:</label>
    <br />
    <input id="websiteInput" class="formInput" value="{{ location.website }}" />

    <!-- Location category -->
    <label for="categoryInput" class="infoLabel">Category:</label>
    <br />
    <select id="categorySelect" class="formSelect">
        {% for category in categories %}
            <option value="{{ category }}" {% if category == location.category %}selected="selected"{% endif %}>{{ category }}</option>
        {% endfor %}
    </select>

    <!-- Location image -->
    <label for="imageInput" class="infoLabel">Image:</label>
    <br />
    <input id="imageInput" class="formInput" value="{{ location.image }}" />

    <!-- Submit and cancel buttons -->
    <button id="locationSubmitButton" locationID="{{ location.id }}">Submit</button>
    <button id="locationCancelButton" locationID="{{ location.id }}">Cancel</button>
{% endif %}
