<div id="header">
    <div id="headerContent">
        <a id="headerTitle" href="/inkle/">Inkle</a>
        <div id="headerSearchContainer">
            <input id="searchInput" type="text" />
            <p id="searchSuggestions" class="suggestions">
        </div>
        <div id="headerRightContainer">
            <a id="username" href="/inkle/manage/">{{ member.first_name }} {{ member.last_name }}</a>
            {% if member.num_requests %}
                <div id="requestNotification" class="test">
                    <p>{{member.num_requests}}</p>
                </div>
            {% endif %}
            </br>
            <a id="logout" href="/inkle/logout/">Logout</a>
        </div>
    </div>
</div>
