{% extends "base.html" %}

{% block title %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/home.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/home.js"></script>
{% endblock title%}

{% block header %}
    {% include "header.html" %}
{% endblock header %}

{% block mainContent %}
    <div id="mainContent" class="container_24">
        <div class="grid_3 alpha omega">
            <div id="today" class="selectedDate date grid_3">
                <p class="month"></p>
                <p class="day"></p>
            </div>
            <div id="tomorrow" class="date grid_3">
                <p class="month"></p>
                <p class="day"></p>
            </div>
            <div id="dayAfterTomorrow" class="date grid_3">
                <p class="month"></p>
                <p class="day"></p>
            </div>
        </div>

        <div id="inklings">
            <div id="dinnerInkling" class="inkling grid_6 push_1 alpha omega">
                <div>
                    <p class="suggestionTitle">Dinner</p>
                    <img src="http://dummyimage.com/230x230/aaa/fff.jpg&text=+" />
                    <input id="dinnerInklingInput" class="inklingInput" type="text" />
                </div>
    
                <p id="dinnerInklingSuggestions" class="suggestions">
                </p> 
            </div>

            <div id="pregameInkling" class="inkling grid_6 push_2 alpha omega">
                <div>
                    <p class="suggestionTitle">Pregame</p>
                    <img src="http://dummyimage.com/230x230/aaa/fff.jpg&text=+" />
                    <input id="pregameInklingInput" class="inklingInput" type="text" />
                </div>

                <p id="pregameInklingSuggestions" class="suggestions">
                </p> 
            </div>

            <div id="mainEventInkling" class="inkling grid_6 push_3 alpha omega">
                <div>
                    <p class="suggestionTitle">Main Event</p>
                    <img src="http://dummyimage.com/230x230/aaa/fff.jpg&text=+" />
                    <input id="mainEventInklingInput" class="inklingInput" type="text" />
                </div>

                <p id="mainEventInklingSuggestions" class="suggestions">
                </p> 
            </div>
        </div>
    
        <div class="clear"></div>

        <div class="grid_24">
            <select id="locationBoardSelect" class="grid_4 alpha omega">
                <option>Everyone</option>i
                {% for sphere in member.spheres2 %}
                    <option sphereID="{{ sphere.id }}">{{ sphere.name }}</option>
                {% endfor %}
                {% for circle in member.circles2 %}
                    <option circleID="{{ circle.id }}">{{ circle.name }}</option>
                {% endfor %}
            </select>
            
            <div class="clear"></div>

            <div id="locationBoard" class="grid_16 push_4">
                {% include "locationBoard.html" %}
            </div>
        </div>
    </div>
{% endblock mainContent%}
