{% extends "base.html" %}

{% block title %}
	<title>Inkle | Home</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/home.css" />
{% endblock css%}

{% block js %}
        <script type="text/javascript" src="{{ STATIC_URL }}/js/home.js"></script>
{% endblock js %}

{% block mainContent %}
    <div id="mainContent" class="container_24">
        <!-- Content links -->
        <div class="grid_24">
            <p id="myInklingsContentLink" class="contentLink selectedContentLink">My Inklings</p>
            <p id="othersInklingsContentLink" class="contentLink">Others' Inklings</p>
            <div class="clear"></div>
        </div>

        <!-- Calendar -->
        <div class="grid_3">
            <div class="grid_3">
                <div id="today" class="selectedDate date">
                    <p class="month"></p>
                    <p class="day"></p>
                </div>
            </div>
            <div class="grid_3">
                <div id="tomorrow" class="date">
                    <p class="month"></p>
                    <p class="day"></p>
                </div>
            </div>
            <div class="grid_3">
                <div id="dayAfterTomorrow" class="date">
                    <p class="month"></p>
                    <p class="day"></p>
                </div>
            </div>
        </div>

        <!-- My inklings -->
        <div id="myInklingsContent" class="grid_20 push_1">
            <!-- Dinner inkling -->
            <div class="grid_6">
                <div id="dinnerInkling" class="inkling">
                    <div>
                        <p>Dinner</p>
                        {% if member.dinnerImage %}
                            <img src="{{ STATIC_URL }}/{{ member.dinnerImage }}" />
                        {% else %}
                            <img src="http://dummyimage.com/206x206/aaa/fff.jpg&text=+" />
                        {% endif %}
                        <input type="text" value="{{ member.dinnerName }}" />
                    </div>
    
                    <div class="suggestions"></div>
                </div>
            </div>

            <!-- Pregame inkling -->
            <div class="grid_6 push_1">
                <div id="pregameInkling" class="inkling">
                    <div>
                        <p>Pregame</p>
                        {% if member.pregameImage %}
                            <img src="{{ STATIC_URL }}/{{ member.pregameImage }}" />
                        {% else %}
                            <img src="http://dummyimage.com/206x206/aaa/fff.jpg&text=+" />
                        {% endif %}
                        <input type="text" value="{{ member.pregameName }}" />
                    </div>

                    <div class="suggestions"></div>
                </div>
            </div>

            <!-- Main event inkling -->
            <div class="grid_6 push_2">
                <div id="mainEventInkling" class="inkling">
                    <div>
                        <p>Main Event</p>
                        {% if member.mainEventImage %}
                            <img src="{{ STATIC_URL }}/{{ member.mainEventImage }}" />
                        {% else %}
                            <img src="http://dummyimage.com/206x206/aaa/fff.jpg&text=+" />
                        {% endif %}
                        <input type="text" value="{{ member.mainEventName }}" />
                    </div>

                    <div class="suggestions"></div>
                </div>
            </div>
        </div>
   
        <!-- Others' inklings filters -->
        <div id="othersInklingsContent" class="grid_20 push_1">
            <!-- People filter -->
            <div class="grid_2 push_1">
                <p class="subheader">People:</p>
            </div>
            
            <select id="locationBoardPeopleSelect" class="locationBoardSelect grid_6 push_1">
                <option people="circles">All circles</option>
                {% for sphere in member.spheres2 %}
                    <option sphereID="{{ sphere.id }}">{{ sphere.name }}</option>
                {% endfor %}
                {% for circle in member.circles2 %}
                    <option circleID="{{ circle.id }}">{{ circle.name }}</option>
                {% endfor %}
            </select>
            
            <!-- Inkling filter -->
            <div class="grid_2 push_2">
                <p class="subheader" style="margin-left: -5px;">Inkling:</p>
            </div>
            
            <select id="locationBoardInklingSelect" class="locationBoardSelect grid_6 push_2">
                <option inklingType="dinner">Dinner</option>
                <option inklingType="pregame">Pregame</option>
                <option inklingType="mainEvent">Main event</option>
            </select>
            
            <div class="clear"></div>

            <!-- Location board -->
            <div id="locationBoard" class="grid_20 alpha omega">
                {% include "locationBoard.html" %}
            </div>
        </div>
    </div>
{% endblock mainContent%}
