{% extends "base.html" %}

{% block header %}
    {% include "header.html" %}
{% endblock header %}

{% block mainContent %}
    <div id="mainContent">
        <div id="dinnerInkling" class="inkling">
            <div>
                <p class="suggestionTitle">Dinner</p>
                <input id="dinnerInklingInput" class="suggestionInput" type="text" />
            </div>

            <p id="dinnerInklingSuggestions" class="suggestions">
            </p> 
        </div>
    </div>
{% endblock mainContent%}
