<!-- Location card -->
<div class="grid_17 alpha omega">
    <div id="locationCard_{{l.id}}" class="locationCard">
        <div class="grid_3">
            <img class="cardImage" src="{{ STATIC_URL }}/media/images/locations/{{ l.image }}" />
        </div>
        
        <div class="grid_9">
            <a class="locationName" href="/inkle/location/{{l.id}}">{{ l.name }}</a>
            <p class="locationCategory">{{l.category}}</p>
            <div class="locationInfo grid_4">
                <p><span class="locationInfoLabel">Phone: </span>{{l.phone}}</p>
                <p><span class="locationInfoLabel">Website: </span>{{l.website}}</p>
            </div>
            <div class="locationInfo push_1 grid_4">
                <p>{{l.street}}</p>
                <p>{{l.city}}, {{l.state}} {{l.zip_code}}</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
