<div class="grid_20 alpha omega">
    <div class="locationBoardCard">
        <!-- Location count -->
        <div class="grid_3 suffix_1 alpha">
            <div class="locationBoardCardCount">
                {{ location.count }}
            </div>
        </div>
        
        <!-- Location name and city -->
        <div class="grid_15 alpha omega">
            <a class="locationBoardCardName" href="/location/{{ location.id }}/">{{ location.name }}</a>
            <div class="locationBoardCardCity">{{ location.city }}, {{ location.state }}</div>
        </div>
    </div>
</div>
