<!-- Location card -->
<div class="grid_17 alpha omega">
    <div id="locationCard_{{ location.id }}" class="locationCard">
        <div class="grid_3">
            <img class="cardImage" src="{{ STATIC_URL }}/media/images/locations/{{ location.image }}" />
        </div>
        
        <div class="grid_9">
            <a class="locationName" href="/inkle/location/{{ location.id }}">{{ location.name }}</a>
            <p class="locationCategory">{{ location.category }}</p>
            <div class="locationInfo grid_4">
                <p><span class="locationInfoLabel">Phone: </span>{{ location.phone }}</p>
                <p><span class="locationInfoLabel">Website: </span>{{ location.website }}</p>
            </div>
            <div class="locationInfo push_1 grid_4">
                <p>{{ location.street }}</p>
                <p>{{ location.city }}, {{ location.state }} {{ location.zip_code }}</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
