{% extends "base.html" %}

{% block title %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/location.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/memberCard.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/location.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/memberCard.js"></script>
{% endblock title%}

{% block header %}
    {% include "header.html" %}
{% endblock header %}

{% block mainContent %}
    <div id="mainContent" class="container_24">
        <input id="locationID" type="hidden" value="{{ location.id }}" />

            <div class="grid_8">
                <!-- Location image -->
                {% if location.image %}
                    <img id="locationImage" src="{{ STATIC_URL }}{{ location.image }}" />
                {% else %}
                    <img id="locationImage" src="http://dummyimage.com/300x300/AAA/fff.jpg&text=+" />
                {% endif %}
                
                <!-- Location address -->
                <div class="infoSection">
                    <p class="infoLabel">Address:</p>
                    <p><span id="locationStreet">{{ location.street }}</span></p>
                    <p><span id="locationCity">{{ location.city }}</span>, <span id="locationState">{{ location.state }}</span> <span id="locationZipCode">{{ location.zip_code }}</span></p>
                </div>
                
                <!-- Location phone -->
                <div class="infoSection">
                    <p class="infoLabel">Phone:</p>
                    <p id="locationPhone">{{ location.phone }}</p>
                </div>
                
                <!-- Location website -->
                <div class="infoSection">
                    <p class="infoLabel">Website:</p>
                    <a id="locationWebsite" href="{{ location.website }}">{{ location.website }}</a>
                </div>
                
                <!-- Location hours -->
                <!--<div class="infoSection">
                    <p class="infoLabel">Hours:</p>
                    <p>M: 10 AM - 2 AM</p>
                    <p>T: 10 AM - 2 AM</p>
                    <p>W: 10 AM - 2 AM</p>
                    <p>H: 10 AM - 2 AM</p>
                    <p>F: 10 AM - 4 AM</p>
                    <p>S: 10 AM - 4 AM</p>
                    <p>U: 10 AM - 2 AM</p>
                </div> -->

                <!-- Location category -->
                <div class="infoSection">
                    <p class="infoLabel">Category:</p>
                    <p><span id="locationCategory">{{ location.category }}</span></p>
                </div>

            </div>

            <div class="grid_16">
                <div class="grid_16">
                    <div class="grid_12">
                        <p id="locationName">{{ location.name }}</p>
                    </div>
                    {% if member.is_staff %}
                        <div class="push_1 grid_3">
                            <button id="locationEditButton" type="button">Edit location</button>
                        </div>
                    {% endif %}
                </div>
                <div class="clear"></div>
                
                <div class="grid_16">
                    {% if member.is_staff %}
                        <div id="locationEditContent" class="grid_12 hidden">
                            <label for="nameInput" class="formLabel">Name:</label>
                            </br>
                            <input id="nameInput" class="formInput grid_10" value="{{ location.name }}" />
                            <div class="clear"></div>
                            <label for="streetInput" class="formLabel">Street:</label>
                            <br />
                            <input id="streetInput" class="formInput grid_10" value="{{ location.street }}" />
                            <div class="clear"></div>
                            <label for="cityInput" class="formLabel">City:</label>
                            <br />
                            <input id="cityInput" class="formInput grid_10" value="{{ location.city }}" />
                            <div class="clear"></div>
                            <label for="stateInput" class="formLabel">State:</label>
                            <br />
                            <input id="stateInput" class="formInput grid_10" value="{{ location.state }}" />
                            <div class="clear"></div>
                            <label for="zipCodeInput" class="formLabel">Zip code:</label>
                            <br />
                            <input id="zipCodeInput" class="formInput grid_10" value="{{ location.zip_code }}" />
                            <div class="clear"></div>
                            <label for="phoneInput" class="formLabel">Phone:</label>
                            <br />
                            <input id="phoneInput" class="formInput grid_10" value="{{ location.phone }}" />
                            <div class="clear"></div>
                            <label for="websiteInput" class="formLabel">Website:</label>
                            <br />
                            <input id="websiteInput" class="formInput grid_10" value="{{ location.website }}" />
                            <div class="clear"></div>
                            <label for="categoryInput" class="formLabel">Category:</label>
                            <br />
                            <input id="categoryInput" class="formInput grid_10" value="{{ location.category }}" />
                            <div class="clear"></div>
            
                            <div class="actionButtonContainer grid_10">
                                <input id="locationSubmitButton" class="actionButton" type="submit" value="Submit" />
                                <button id="locationCancelButton" type="button">Cancel</button>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                {% endif %}
                </div>
                <div class="clear"></div>
                
                <div id="InklingsTonight" class="grid_16">
                    <h4>The following people are going here tonight:<h4>
                    <h3>Dinner</h3>
                    {% for m in dinnerPeople %}
                        {% include "memberCard.html" %}
                    {% endfor %}
                    <h3>Pregame</h3>
                    {% for m in pregamePeople %}
                        {% include "memberCard.html" %}
                    {% endfor %} 
                    <h3>Main Event</h3>
                    {% for m in maineventPeople %}
                        {% include "memberCard.html" %}
                    {% endfor %}
                </div>
                
            </div>
        </div>
{% endblock mainContent%}
