{% extends "base.html" %}

{% block title %}
	<title>Inkle | Login</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/login.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/login.js"></script>
{% endblock title %}

<!-- Header -->
{% block header %}
    <div id="header">
        <div class="container_24">
            <!-- Logo -->
            <div class="grid_5 suffix_8">
                <a href="/inkle/"><img id="logo" src="{{ STATIC_URL }}media/images/main/inkleLogo.png" /></a>
            </div>
        </div>
    </div>
{% endblock header %}

{% block mainContent %}
    <div id="mainContent" class="container_24">
        <!-- Welcome (home left) -->
        <div class="grid_12 suffix_2">
            <p id="welcomeText">Inkle makes it easy to find out where the big event is happening tonight.</p>
            <img id="welcomeImage" src="http://dummyimage.com/450x250/BBB/fff.jpg&text=+" />
        </div>

        <!-- Login/registration (home right) -->
        <div class="grid_10">
            <!-- Content links -->
            <div>
                <p id="loginContentLink" class="contentLink {% if selectedContentLink == "login" %}selectedContentLink{% endif %} grid_3">Login</p>
                <p id="registrationContentLink" class="contentLink {% if selectedContentLink == "registration" %}selectedContentLink{% endif %} grid_4">Register</p>
                <div class="clear"></div>
            </div> 

            <!-- Login form -->
            <form id="loginContent" {% if selectedContentLink == "registration" %}class="unselectedContent"{% endif %} action="/inkle/login/" method="POST">
                {% csrf_token %}
                <div class="grid_10 alpha">
                    <!-- Login labels -->
                    <div class="grid_4 alpha omega">
                        <label for="loginEmail" class="loginLabel grid_4">Email:</label>
                        <label for="loginPassword" class="loginLabel grid_4">Password:</label>
                        <input id="keepLoggedIn" class="grid_4 omega" type="checkbox" name="keepLoggedIn" />
                    </div>

                    <!-- Login inputs -->
                    <div class="grid_6">
                        <input id="loginEmail" class="grid_6 {% if invalidLogin %}invalidInput{% endif %}" type="text" name="email" maxlength="30" value="{{ loginEmail }}" />
                        <input id="loginPassword" class="grid_6 {% if invalidLogin %}invalidInput{% endif %}" type="password" name="password" maxlength="30" value="{{loginPassword}}"/>
                        <div id="forgottenPassword" class="grid_6">
                            <a href="/inkle/forgottenPassword/">I forgot my password</a>
                        </div>
                        <label for="keepLoggedIn" class="grid_6">Keep me logged in</label>
                    </div>
                </div>    

                <!-- Login button -->
                <input id="loginButton" class="button grid_4 push_3 alpha" type="submit" name="submit" value="Login" />
            </form>

            <!-- Registration form -->
            <form id="registrationContent" {% if selectedContentLink == "login" %}class="unselectedContent"{% endif %} action="/inkle/register/" method="POST">
                {% csrf_token %}
                <div class="grid_10 alpha">
                    <!-- Registration labels -->
                    <div class="grid_4 alpha omega">
                        <label for="registrationFirstName" class="registrationLabel grid_4">First name:</label>
                        <label for="registrationLastName" class="registrationLabel grid_4">Last name:</label>
                        <label for="registrationEmail" class="registrationLabel grid_4">Email:</label>
                        <label for="registrationConfirmEmail" class="registrationLabel grid_4">Confirm email:</label>
                        <label for="registrationPassword" class="registrationLabel grid_4">Password:</label>
                        <label id="registrationConfirmPasswordLabel" for="registrationConfirmPassword" class="registrationLabel grid_5">Confirm password:</label>
                        <label for="registrationGender" class="loginLabel grid_4">Gender:</label>
                    </div>

                    <!-- Registration inputs -->
                    <div class="grid_6">
                        <input id="registrationFirstName" class="grid_6 {% if invalidFirstName %}invalidInput{% endif %}" type="text" name="firstName" maxlength="30" value="{{ firstName }}" />
                        <input id="registrationLastName" class="grid_6 {% if invalidLastName %}invalidInput{% endif %}" type="text" name="lastName" maxlength="30" value="{{ lastName }}" />
                        <input id="registrationEmail" class="grid_6 {% if invalidEmail %}invalidInput{% endif %}" type="text" name="email" maxlength="30" value="{{ email }}" />
                        <input id="registrationConfirmEmail" class="grid_6 {% if invalidConfirmEmail %}invalidInput{% endif %}" type="text" name="confirmEmail" maxlength="30" value="{{ confirmEmail }}" />
                        <input id="registrationPassword" class="grid_6 {% if invalidPassword %}invalidInput{% endif %}" type="password" name="password" maxlength="30" value="{{ email }}" />
                        <input id="registrationConfirmPassword" class="grid_6 {% if invalidConfirmPassword %}invalidInput{% endif %}" type="password" name="confirmPassword" maxlength="30" value="{{ confirmEmail }}" />
                        <select id="registrationGender" class="{% if invalidGender %}invalidInput{% endif %} grid_3" name="gender">
                            <option value="male" {% if gender == "male" %}selected{% endif %}>Male</option>
                            <option value="female" {% if gender == "female" %}selected{% endif %}>Female</option>
                        </select>
                    </div>
                </div>    

                <!-- Registration button -->
                <input id="registrationButton" class="button grid_4 push_3 alpha" type="submit" name="submit" value="Register" />
            </form>
        </div>
    </div>
{% endblock mainContent %}

<!-- Footer -->
{% block footer %}
    <div id="footer">
        <div class="container_24">
            <p class="footerText">Inkle &copy; MMXII</p>
        </div>
    </div>
{% endblock footer %}
