{% extends "base.html" %}

{% block title %}
	<title>Inkle | Profile</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/manage.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/memberCard.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/circles.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/sphereCard.css" />
{% endblock css %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}/js/manage.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/profile.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/memberCard.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/circles.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/spheres.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/requests.js"></script>
{% endblock js %}

{% block mainContent %}
    <div id="mainContent" class="container_24">
        <div id="profileInfo" class="grid_6 suffix_1">
            <h3>Profile Info</h3>
            <img id="profileImage" src="{{ STATIC_URL }}/media/images/members/{{ member.image }}" />
            <div class="display">
                <ul>
                    <li id="displayName">{{ member.first_name }} {{ member.last_name }}</li>
                    <li id="displayEmail">Email: {{ member.email }}</li>
                    <li id="displayPhone" value="{{member.phone}}">Phone: {{ member.phone }}</li>
                    <li id="displayBirthday" value="{{member.birthday}}">Birthday: {{ member.birthday }}</li>
                    <li id="displayGender">Gender: {{ member.gender }}</li>
                </ul>
                <input type="button" value="Edit Profile" id="editProfileButton" class="profileButton"/>
            </div>
            <div class="edit">
                <ul>
                    <li><input id="inputFirstName" value="{{ member.first_name }}" /> <input id="inputLastName" value="{{ member.last_name }}" /></li>
                    <!--<li>Password: <input id="inputPassword" value="{{ member.password }}"/></li>-->
                    <li>Email: <input id="inputEmail" value="{{ member.email }}"/></li>
                    <li>Phone: <input id="inputPhone" value="{{ member.phone }}"/></li>
                    <li>Birthday: <input id="inputBirthday" value="{{ member.birthday }}"/></li>
                    <li>Gender: <select id="inputGender">
                                {% if member.gender == "Male" %}
                                    <option value="Male" selected="selected">M</option>
                                    <option value="Female">F</Option>
                                {% else %}
                                    <option value="Male">M</option>
                                    <option value="Female" selected="selected">F</Option>
                                {% endif %}
                                </select> </li>
                </ul>
                <input type="button" value="Submit Changes" id="submitChangesButton" class="profileButton"/>
                <input type="button" value="Discard Changes" id="discardChangesButton" class="profileButton"/>
            </div>
        </div>
        
        <div class="grid_17 alpha omega">
            <!-- Manage content links -->
            <div id="manageContentLinks" class="contentLinks grid_17">
                <p {% if defaultContentType == "requests" %}class="selectedContentLink"{% endif %} contentType="requests">Requests</p>
                <p {% if defaultContentType == "circles" %}class="selectedContentLink"{% endif %} contentType="circles">Circles</p>
                <p {% if defaultContentType == "spheres" %}class="selectedContentLink"{% endif %} contentType="spheres">Spheres</p>
                <p {% if defaultContentType == "followers" %}class="selectedContentLink"{% endif %} contentType="followers">Followers</p>
            </div>
            <div class="clear"></div>
            
            <div id="manageContent" class="grid_17 alpha omega">
                <!-- Requests content links -->
                <div id="requestsContentLinks" class="grid_17">
                    <p contentType="all">All</p>
                    <p contentType="requested">Requested</p>
                    <p contentType="pending">Pending</p>
                </div>
                <div class="clear"></div>

                <!-- Main manage content -->
                <div id="mainManageContent" class="grid_17 alpha omega">
                </div>
            </div>
       </div>
        
    </div>
{% endblock mainContent%}
