{% extends "base.html" %}

{% block title %}
	<title>Inkle | Profile | {{ member.first_name }} {{ member.last_name }}</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/manage.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/memberCard.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/circles.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/sphereCard.css" />
{% endblock css %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}/js/manage.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/profile.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/memberCard.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/circles.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/spheres.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/requests.js"></script>
{% endblock js %}

{% block mainContent %}
    <div id="mainContent" class="container_24">
        <!-- Profile info -->
        <div class="grid_6">
            <!-- Profile image -->
            <img id="manageImage" src="{{ STATIC_URL }}/media/images/members/{{ member.image }}" image="{{ member.image }}" />

            <div id="manageInfo">
                {% include "manageInfo.html" %}
            </div>
        </div>
        
        <div class="grid_17 push_1 alpha omega">
            <!-- Member name -->
            <div class="grid_17">
                <p id="manageName" class="pageTitle">{{ member.first_name }} {{ member.last_name }}</p>
            </div>
            <div class="clear"></div>

            <!-- Manage content links -->
            <div id="manageContentLinks" class="contentLinks grid_17">
                <p {% if defaultContentType == "requests" %}class="selectedContentLink"{% endif %} contentType="requests">Requests</p>
                <p {% if defaultContentType == "circles" %}class="selectedContentLink"{% endif %} contentType="circles">Circles</p>
                <p {% if defaultContentType == "spheres" %}class="selectedContentLink"{% endif %} contentType="spheres">Spheres</p>
                <p {% if defaultContentType == "followers" %}class="selectedContentLink"{% endif %} contentType="followers">Followers</p>
            </div>
            <div class="clear"></div>
            
            <div id="manageContent" class="grid_17 alpha omega">
                <!-- Requests content links -->
                <div id="requestsContentLinks" class="subsectionContentLinks grid_17">
                    <p class="selectedSubsectionContentLink" contentType="all">All</p>
                    <p contentType="requested">Requested</p>
                    <p contentType="pending">Pending</p>
                </div>
                <div class="clear"></div>

                <!-- Main manage content -->
                <div id="mainManageContent" class="grid_17 alpha omega">
                </div>
            </div>
       </div>
        
    </div>
{% endblock mainContent%}
