<!-- Member card -->
<div class="grid_17 alpha omega">
    <div class="memberCard {{ m.people_type }}">
        <!-- Image -->
        <img src="{{ STATIC_URL }}/media/images/members/{{ m.image }}" />

        <!-- Member info -->
        <div class="info">
            <div class="infoRow">
                <!-- Name -->
                <a class="cardName" href="/member/{{ m.id }}">{{ m.first_name }} {{ m.last_name }}</a>
                
                <!-- Contact information -->
                {% if m.show_contact_info %}
                    <div class="contactInfo">
                        <!-- Email -->
                        {% if m.email %}
                            <p>{{ m.email }}</p>
                        {% endif %}

                        <!-- Phone -->
                        {% if m.phone and m.phone|length_is:"10" %}
                            <p>({{ m.phone|slice:"0:3" }}) {{ m.phone|slice:"3:6" }}-{{ m.phone|slice:"6:10" }}</p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            <!-- Spheres -->
            {% if m.sphereNames %}
                <div class="memberSpheres infoRow">
                    {% for sphereName in m.sphereNames %}
                        {% if sphereName != m.sphereNames|first %}
                            <span>&middot;</span>
                        {% endif %}
                        {% for word in sphereName %}
                            <span>{{ word }}</span>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}

            <!-- Mutual followings -->
            <div class="infoRow">
                <p class="mutualFollowings">{{ m.mutual_followings|length }} mutual following{{ m.mutual_followings|length|pluralize }}</p>
            </div>

            <!-- Button list -->
            <div class="infoRow">
                {% if m != member %}
                    {% for buttonClass, buttonText, toolTip in m.button_list %}
                        <button class="cardButton {{ buttonClass }}" memberID="{{ m.id }}" title="{{ toolTip }}">{{ buttonText }}</button>
                        {% if buttonClass == "circlesCardButton" %}
                            <div class="circlesMenu">
                                {% for circle in m.circles_copy %}
                                    <div>
                                        <input id="m{{ m.id }}_c{{ circle.id }}" type="checkbox" {% if m in circle.members_copy %}checked="checked"{% endif %} circleID="{{ circle.id }}" />
                                        <label for="m{{ m.id }}_c{{ circle.id }}">{{ circle.name }}</label>
                                    </div>
                                {% empty %}
                                    <div>You have no circles.</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
