<!-- Member card -->
<div class="grid_17 alpha omega">
    <div id="memberCard_{{m.id}}" class="memberCard">
        <!-- Member card image -->
        <div>
            <img class="cardImage" src="{{ STATIC_URL }}/media/images/members/{{ m.image }}" />
        </div>

        <!-- Member card member info -->
        <div class="memberCardInfo">
            <a class="memberCardName" href="/inkle/member/{{ m.id }}">{{ m.first_name }} {{ m.last_name }}</a>
            {% if m.sphereNames %}
                <div class="memberCardSpheres">
                    {% for sphereName in m.sphereNames %}
                        {% if forloop.counter == m.sphereNames|length %}
                            <p class="memberCardSphere">{{ sphereName }}</p>
                        {% else %}
                            <p class="memberCardSphere">{{ sphereName }}&nbsp;&middot;&nbsp;</p>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <p class="mutualFriends">{{ m.mutual_followings|length }} mutual followings</p>
        </div>

        <!-- Member card contact info -->
        {% if m.show_contact_info %}
            <div class="memberCardContactInfo">
                <ul>
                    {% if m.email %}
                        <li>{{ m.email }}</li>
                    {% endif %}
                    {% if m.phone %}
                        <li>{{ m.phone }}</li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
                
                <div class="grid_11 buttons">
                    {% if m != member %}
                        {% for buttonClass, buttonText, toolTip in m.button_list %}
                            <input class="cardButton {{buttonClass}}" type="button" value="{{buttonText}}" memberID="{{ m.id }}" title="{{toolTip}}"/>
                            {% if buttonClass == "circlesCardButton" %}
                                <div id="circlesMenu_{{m.id}}" class="circlesMenu" showing="false">
                                    <ul class="circlesMenuList" memberID="{{ m.id }}">
                                        {% for c in m.circles2 %}
                                            {% if m in c.members2 %}
                                                <li><input type="checkbox" name="{{c.name}}" class="circlesMenuItem" checked="checked" circleID="{{c.id}}" toMemberID="{{m.id}}"/>{{c.name}}</li>
                                            {% else %}
                                                <li><input type="checkbox" name="{{c.name}}" class="circlesMenuItem" circleID="{{c.id}}" toMemberID="{{m.id}}"/>{{c.name}}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
        <div class="clear"></div>
    </div>
</div>
