{% block memberCard %}
      
    <div id="memberCard_{{m.id}}"class="grid_16">
 
        <div class="memberCard push_1 grid_14">
            <div class="grid_3">
                {% if m.image %}
                    <img class="cardImage" src="{{ STATIC_URL }}{{ m.image }}" />
                {% else %}
                    <img class="cardImage" src="http://dummyimage.com/100x100/AAA/fff.jpg&text=+" />
                {% endif %}
            </div>
            <!-- <div class="grid_10"> -->
                <div class="grid_7">
                    <p class="memberName">{{ m.first_name }} {{ m.last_name }}</p>
                    <div class="spheres">
                        {% for s in m.spheres2 %}
                            <p>{{s.name}}</p>
                        {% endfor %}
                    </div>
                    {% if m != member %}
                        <p class="mutualFriends">{{ m.num_mutual_followings }} mutual followings</p>
                    {% endif %}
                </div>
                {% if m.relationship == "friend" or m == member %}
                    <div class="contactInfo grid 4">
                        <ul>
                            <li><span class="contactLabel">Email: </span>{{ m.email }}</li>
                            <li><span class="contactLabel">Phone: </span>{{ m.phone }}</li>
                            <li><span class="contactLabel">Birthday: </span>{{ m.birthday }}</li>
                        </ul>
                    </div>
                {% endif %}
                <div class="clear"></div>
 
                <div class="grid_11 buttons">
                    {% if m != member %}
                        {% for buttonClass, buttonText, toolTip in m.button_list %}
                            <input class="cardButton {{buttonClass}}" type="button" value="{{buttonText}}" memberID="{{ m.id }}" title="{{toolTip}}"/>
                            {% if buttonClass == "circlesCardButton" %}
                                <div id="circlesMenu_{{m.id}}" class="circlesMenu" showing="false">
                                    <ul class="circlesMenuList" memberID="{{ m.id }}">
                                        {% for c in m.circles2 %}
                                            {% if m in c.members2 %}
                                                <li><input type="checkbox" name="{{c.name}}" class="circlesMenuItem" checked="checked" circleID="{{c.id}}" toMemberID="{{m.id}}"/>{{c.name}}</li>
                                            {% else %}
                                                <li><input type="checkbox" name="{{c.name}}" class="circlesMenuItem" circleID="{{c.id}}" toMemberID="{{m.id}}"/>{{c.name}}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
        </div>
        <div class="clear"></div>
        
    </div>
    <div class="clear"></div>
      
{% endblock memberCard %}
