{% extends "base.html" %}

{% block title %}
	<title>Inkle | Search</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/search.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/memberCard.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/sphereCard.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/locationCard.css" />
{% endblock css %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}/js/search.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/memberCard.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/sphereCard.js"></script>
{% endblock js %}

{% block mainContent %}
    <div id="mainContent" class="container_24">
        <div id="searchSummary" class="grid_6 suffix_1" query="{{ query }}">
            <p class="searchSummaryTitle">Search summary</p>
            <p><span class="searchLabel">People:</span> {{ members|length }}</p>
            <p><span class="searchLabel">Following:</span> {{ member.num_following }}</p>
            <p><span class="searchLabel">Followers:</span> {{ member.num_followers }}</p>
            <p><span class="searchLabel">Other:</span> {{ member.num_other_people }}</p>
            <p><span class="searchLabel">Locations:</span> {{ locations|length }}</p>
            <p><span class="searchLabel">Spheres:</span> {{ spheres|length }}</p>
            <p><span class="searchLabel">My spheres:</span> {{ member.num_my_spheres }}</p>
            <p><span class="searchLabel">Other spheres:</span> {{ member.num_other_spheres }}</p>
                        
                        <div class="">
                            <input id="newLocationButton" class="newItemInput newItemButton" type="button" value="Create a new location"/>
                            <input id="newLocationText" class="newItemInput newItemText" type="text"/>
                            <input id="newLocationSubmit" class="newItemInput newItemButton" type="button" value="Submit"/>
                            <input id="newLocationCancel" class="newItemInput newItemButton" type="button" value="Cancel"/>
                        </div>
                        <div class="">
                            <input id="newSphereButton" class="newItemInput newItemButton" type="button" value="Create a new sphere"/>
                            <input id="newSphereText" class="newItemInput newItemText" type="text"/>
                            <input id="newSphereSubmit" class="newItemInput newItemButton" type="button" value="Submit"/>
                            <input id="newSphereCancel" class="newItemInput newItemButton" type="button" value="Cancel"/>
                        </div>
        </div>

        <div class="grid_17 alpha omega">
            <!-- Main search content links -->
            <div id="searchContentLinks" class="contentLinks grid_17">
                <p class="selectedContentLink" contentType="all">All</p>
                <p contentType="people">People</p>
                <p contentType="locations">Locations</p>
                <p contentType="spheres">Spheres</p>
            </div>
            <div class="clear"></div>
            
            <!-- Search content -->
            <div id="searchContent" class="grid_17 alpha omega">
                <!-- People content links -->
                <div id="peopleContentLinks" class="subsectionContentLinks grid_17">
                    <p class="selectedSubsectionContentLink" contentType="all">All</p>
                    <p contentType="following">Following</p>
                    <p contentType="followers">Followers</p>
                    <p contentType="other">Other</p>
                </div>
                <div class="clear"></div>
                
                <!-- Sphere content links -->
                <div id="spheresContentLinks" class="subsectionContentLinks grid_17">
                    <p class="selectedSubsectionContentLink" contentType="all">All</p>
                    <p contentType="mySpheres">Mine</p>
                    <p contentType="otherSpheres">Other</p>
                </div>
                <div class="clear"></div>
                
                <div id="mainSearchContent" class="grid_17 alpha omega">
                    <!-- People -->
                    <div id="peopleContent">
                        <p class="subsectionTitle">People</p>
                        {% if members.length == 0 %}
                            <p class="noResultsMessage">No people match your query.</p>
                        {% else %}
                            {% for m in members %}
                                {% include "memberCard.html" %}
                            {% endfor %}
                        {% endif %}
                    </div>

                    <!-- Locations -->
                    <div id="locationsContent">
                        <p class="subsectionTitle">Locations</p>
                        {% if locations.length == 0 %}
                            <p class="noResultsMessage">No locations match your query.</p>
                        {% else %}
                            {% for l in locations %}
                                {% include "locationCard.html" %}
                            {% endfor %}
                        {% endif %}
                    </div>
            
                    <!-- Spheres -->
                    <div id="spheresContent">
                        <p class="subsectionTitle">Spheres</p>
                        {% if spheres.length == 0 %}
                            <p class="noResultsMessage">No spheres match your query.</p>
                        {% else %}
                            {% for s in spheres %}
                                {% include "sphereCard.html" %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>
{% endblock mainContent%}
