{% extends "base.html" %}

{% block title %}
	<title>Inkle | Search</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/search.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/memberCard.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/sphereCard.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/locationCard.css" />
{% endblock css %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}/js/search.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/memberCard.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/sphereCard.js"></script>
{% endblock js %}

{% block mainContent %}
    <div id="mainContent" class="container_24">
        <div id="searchSummary" class="grid_6 suffix_1" style="border: solid 1px;">
            <p>Your query: {{ query }}</p>
                        
                        <div class="">
                            <input id="newLocationButton" class="newItemInput newItemButton" type="button" value="Create a new location"/>
                            <input id="newLocationText" class="newItemInput newItemText" type="text"/>
                            <input id="newLocationSubmit" class="newItemInput newItemButton" type="button" value="Submit"/>
                            <input id="newLocationCancel" class="newItemInput newItemButton" type="button" value="Cancel"/>
                        </div>
                        <div class="">
                            <input id="newSphereButton" class="newItemInput newItemButton" type="button" value="Create a new sphere"/>
                            <input id="newSphereText" class="newItemInput newItemText" type="text"/>
                            <input id="newSphereSubmit" class="newItemInput newItemButton" type="button" value="Submit"/>
                            <input id="newSphereCancel" class="newItemInput newItemButton" type="button" value="Cancel"/>
                        </div>
        </div>

        <div class="grid_17 alpha omega">
            <!-- Main filters -->
            <div class="grid_17">
                <p id="allContentLink" class="selectedContentLink contentLink">All</p>
                <p id="peopleContentLink" class="contentLink">People</p>
                <p id="locationsContentLink" class="contentLink">Locations</p>
                <p id="spheresContentLink" class="contentLink">Spheres</p>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            
            <!-- People subfilters -->
            <div id="peopleSubsectionContentLinks" class="grid_17">
                <p id="allPeopleContentLink" class="selectedPeopleContentLink subsectionContentLink peopleContentLink">All</p>
                <p id="followingPeopleContentLink" class="subsectionContentLink peopleContentLink">Following</p>
                <p id="followersPeopleContentLink" class="subsectionContentLink peopleContentLink">Followers</p>
                <p id="otherPeopleContentLink" class="subsectionContentLink peopleContentLink">Other</p>
            </div>
            <div class="clear"></div>
                
            <!-- Sphere subfilters -->
            <div id="spheresSubsectionContentLinks" class="grid_17">
                <p id="allSpheresContentLink" class="selectedSpheresContentLink selectedSubsectionContentLink subsectionContentLink spheresContentLink">All</p>
                <p id="mySpheresContentLink" class="subsectionContentLink spheresContentLink">My spheres</p>
                <p id="otherSpheresContentLink" class="subsectionContentLink spheresContentLink">Other spheres</p>
            </div>
            <div class="clear"></div>
            
            <!-- Search content -->
            <div id="searchContent" class="grid_17 alpha omega">
                <div id="searchResults" class="grid_17 alpha omega">
                    <!-- People -->
                    <div id="people">
                        <p class="searchTitle">People</p>
                        {% if members.length == 0 %}
                            <p class="noResultsMessage">No people match your query.</p>
                        {% else %}
                            {% for m in members %}
                                {% include "memberCard.html" %}
                            {% endfor %}
                        {% endif %}
                    </div>

                    <!-- Locations -->
                    <div id="locations">
                        <p class="searchTitle">Locations</p>
                        {% if locations.length == 0 %}
                            <p class="noResultsMessage">No locations match your query.</p>
                        {% else %}
                            {% for l in locations %}
                                {% include "locationCard.html" %}
                            {% endfor %}
                        {% endif %}
                    </div>
            
                    <!-- Spheres -->
                    <div id="spheres">
                        <p class="searchTitle">Spheres</p>
                        {% if spheres.length == 0 %}
                            <p class="noResultsMessage">No spheres match your query.</p>
                        {% else %}
                            {% for s in spheres %}
                                {% include "sphereCard.html" %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>
{% endblock mainContent%}
