{% extends "base.html" %}

{% block title %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/search.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/memberCard.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/sphereCard.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}/js/search.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/memberCard.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/sphereCard.js"></script>
{% endblock title%}

{% block header %}
    {% include "header.html" %}
{% endblock header %}

{% block mainContent %}
    <div id="mainContent" class="container_24">
        <div class="grid_8">
            <h3>Filters</h3>
            <ul class="searchResults">
               <li><input class="filterButton selected push_1 grid_6" type="button" value="All"></li>
               <li><input class="filterButton selected push_1 grid_6" type="button" value="People"></li> 
               <li><input class="filterButton selected push_1 grid_6" type="button" value="Locations"></li>
               <li><input class="filterButton selected push_1 grid_6 " type="button" value="Spheres"></li>
            </ul>
        </div>
        <div id="searchContent" class="grid_16">
            <p>Your query: {{ query }}</p>
            <div id="people">
                <h3>People</h3>
                {% if members.length == 0 %}
                    <p>No people match your query.</p>
                {% else %}
                    {% for m in members %}
                        {% include "memberCard.html" %}
                    {% endfor %}
                {% endif %}
            </div>

            <div id="locations">
                <h3>Locations</h3>
                {% if locations.length == 0 %}
                    <p>No locations match your query.</p>
                {% else %}
                    {% for l in locations %}
                        <p>{{ l.name }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            
            <div id="spheres">
                <h3>Spheres</h3>
                {% if spheres.length == 0 %}
                    <p>No spheres match your query.</p>
                {% else %}
                    {% for s in spheres %}
                        {% include "sphereCard.html" %}
                    {% endfor %}
                {% endif %}
            </div>
       </div>
        
    </div>
{% endblock mainContent%}
