<div class="grid_17 alpha omega">
    <div class="sphereCard {{ sphere.sphere_type }}">
        <div class="grid_13">
            <p class="sphereCardName">{{ sphere.name }}</p>
        </div>
 
        <div class="buttons grid_3">
            {% for buttonClass, buttonText in sphere.button_list %}
                <button class="cardButton {{buttonClass}}" sphereID="{{ sphere.id }}" >{{ buttonText }}</button>
            {% endfor %}
        </div>
        <div class="clear"></div>
    </div>
</div>
