{% if categories %}
    {% for category, categoryTitle in categories %}
        {% if categoryTitle %}
            <div class="suggestionCategory">{{ categoryTitle }}</div>
        {% endif %}
      
        {% for suggestion in category %}
            <div class="suggestion" suggestionID="{{ suggestion.id }}">
                <img class="suggestionImage" src="{{ STATIC_URL }}/media/images/locations/{{ suggestion.image }}" />
                <div class="suggestionText">{{ suggestion.name }}</div>
            </div>
        {% endfor %}
    {% endfor %}
{% else %}
    <div id="noSuggestions">No results</div>
{% endif %}
 
{% if footerSubject %}
    <div class="suggestionFooter">Suggest a new {{ footerSubject }}.</div>
{% endif %}
