{% for category, categoryTitle in categories %}
    {% if categoryTitle %}
        <span class="suggestionCategory">{{ categoryTitle }}</span>
    {% endif %}
      
    {% for suggestion in category %}
        <a class="suggestion" href="#" suggestionID="{{ suggestion.id }}">
            <img class="suggestionImage" src="{{ STATIC_URL }}/media/images/locations/{{ suggestion.image }}" />
            <span class="suggestionText">{{ suggestion.name }}</span>
        </a>
    {% endfor %}
{% endfor %}
 
{% if footerSubject %}
    <span class="suggestionFooter">{{ footerSubject }} you want not here? Suggest a new one.</span>
{% endif %}
