/* Copyright 2012 Chad Heise & Jacob Wenger - All Rights Reserved */

.errors
{
    border: solid 2px #CD1A26;
    padding: 5px 10px 5px 10px;
    background-color: #E5736F;
    margin-bottom: 10px;
    width: 400px;
}

table tr
{
    height: 30px;
}

#resetPasswordForm th, #updateEmailForm th
{
    text-align: right;
    width: 180px;
    padding-right: 5px;
}

#deactivateAccountForm th
{
    text-align: right;
    width: 80px;
    padding-right: 5px;
}

table td
{
    width: 235px;
}

table td input
{
    width: 97%;
    border: inset 2px #BBB;
}

table td .invalid
{
    border: solid 2px #CD1A26;
}

#resetPasswordButton, #updateEmailButton
{
    padding: 5px 0px 5px 0px;
    width: 150px;
    font-weight: bold;
    font-size: 12px;
    color: white;
    margin-top: 15px;
    border-style: solid;
    border-radius: 5px;
    background-color: #288D42;
    border-color: #336E34;
    cursor: pointer;
}

#resetPasswordButton:hover, #updateEmailButton:hover
{
    border-color: #1A492B;
    cursor: pointer;
}

#deactivateAccountButton, #confirmDeactivateAccountButton
{
    padding: 5px 0px 5px 0px;
    width: 150px;
    font-weight: bold;
    font-size: 12px;
    color: white;
    border-style: solid;
    border-radius: 5px;
    background-color: #CD1A26;
    border-color: #914044;
    cursor: pointer;
    margin-top: 15px;
}

#deactivateAccountButton:hover, #confirmDeactivateAccountButton:hover
{
    border-color: #7E181A;
    cursor: pointer;
}

#resetAccountPasswordConfirmation, #updateAccountEmailConfirmation, #confirmDeactivateAccountContent, #deactivateAccountConfirmation
{
    display: none;
}
