.blot
{
    height: 142px;
    width: 142px;
    border-radius: 75px;
    color: #FFF;
    background-color: #288D42;
    font-size: 14px;
    font-weight: bold;
    margin: 0px 15px 15px 0px;
    border: solid 5px #DDD;
    cursor: pointer;
    float: left;
    text-align: center;
    word-wrap:break-word;
}

.blot p
{
    margin-top: 62px;
}

.blot:hover
{
    border-color: #ABC2E5;
}

.selectedBlot
{
    background-color: #1B5898;
}

#createBlotButton
{
    margin-top: 35px;
    height: 70px;
    width: 70px;
    border-radius: 40px;
    color: #FFF;
    background-color: #288D42;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    border: solid 5px #DDD;
    cursor: pointer;
    float: left;
    text-align: center;
}

#createBlotButton:hover
{
    border-color: #ABC2E5;
}

#createBlotButton p
{
    margin-top: 17px;
}

#newBlot
{
    display: none;
}

#newBlotInput, #renameBlotInput
{
    margin-top: 60px;
    width: 90%;
    text-align: center;
    border: inset 2px #BBB;
}

#blotButtonsContainer
{
    margin-bottom: 10px;
}

#deleteBlotButton
{
    background-color: #CD1A26;
    border-color: #914044;
    border-style: solid;
    border-radius: 5px;
    color: #FFF;
    font-weight: bold;
    float: right;
    padding: 2px 5px 2px 5px;
}

#deleteBlotButton:hover
{
    border-color: #7E181A;
    cursor: pointer;
}

#addToBlotInput
{
    padding: 2px 5px 2px 5px;
    width: 300px;
    border: inset 2px #BBB;
}

.emptyAddToBlotInput
{
    color: #888;
}

#addToBlotSuggestions
{
    width: 310px;
}

#blotContent
{
    clear: both;
}
