#calendarContainer {
    text-align: center;
}

#calendar {
    display: inline-block;
}

.dateContainer
{
    text-align: center;
    border: solid 2px #288D42;
    height: 95px;
    width: 105px;
    margin: 10px;
    cursor: pointer;
    float: left;
}

.weekday
{
    font-size: 18px;
    padding: 2px 0px 2px 0px;
    background-color: #DDD;
}

.month
{
    margin-top: -5px;
}

.date
{
    font-size: 40px;
}

.selectedDateContainer
{
    background-color: #DDD;
}

.selectedDateContainer .weekday
{
    background-color: #CD1A26;
    color: #FFF;
    font-weight: bold;
}

.selectedDateContainer .date, .selectedDateContainer .month
{
    color: #CD1A26;
}

.buttonContainer
{
    text-align: center;
}

/*#todayButton {
    padding: 5px 0px 5px 0px;
    height: 30px;
    width: 105px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #1B5898;
    border-color: 3px solid #2A4360;
    cursor: pointer;
}

#todayButton:hover {
    border-color: #002C45;
}*/

#todayButton {
    font-weight: bold;
    font-size: 15px;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    background-color: #70A9DB;
    border: 2px solid #70A9DB;
    height: 95px;
    width: 25px;
    margin: 10px 10px 10px 10px;
    text-align: center;
    float: left;
}

#todayButton:hover {
    background-color: #1B5898;
    border: 2px solid #1B5898;
}

.calendarArrow {
    cursor: pointer;
    background-color: #ABD4B0;
    border: 2px solid #ABD4B0;
    height: 95px;
    width: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    float: left;
}

.calendarArrow:hover {
    background-color: #288D42;
    border: 2px solid #288D42;
}

#calendarArrowLeft {
    border-radius: 7px 0px 0px 7px;
    margin-right: 10px;
}

#calendarArrowRight {
    border-radius: 0px 7px 7px 0px;
    margin-left: 10px;
}

.calendarArrowImg {
    height: 15px;
    padding-top: 38px;
}