.dateContainer
{
    text-align: center;
    border: solid 2px #288D42;
    height: 95px;
    margin-bottom: 10px;
    cursor: pointer;
}

.weekday
{
    font-size: 18px;
    padding: 2px 0px 2px 0px;
    background-color: #DDD;
}

.month
{
    margin-top: -5px;
}

.date
{
    font-size: 40px;
}

.selectedDateContainer
{
    background-color: #DDD;
}

.selectedDateContainer .weekday
{
    background-color: #CD1A26;
    color: #FFF;
    font-weight: bold;
}

.selectedDateContainer .date, .selectedDateContainer .month
{
    color: #CD1A26;
}

#calendar {
    margin-top: 50px;
}

#todayButton {
    cursor: pointer;
    font-weight: bold;
    color: #FFF;
    background-color: #ABD4B0;
    height: 20px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 5px;
    border-radius: 7px;
}

#todayButton:hover {
    background-color: #288D42;
}

.calendarArrow {
    cursor: pointer;
    background-color: #ABD4B0;
    height: 20px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 5px;
}

.calendarArrow:hover {
    background-color: #288D42;
}

#calendarArrowUp {
    border-radius: 7px 7px 0px 0px;
}

#calendarArrowDown {
    border-radius: 0px 0px 7px 7px;
}

.calendarArrowImg {
    height: 15px;
}