/* Copyright 2012 Chad Heise & Jacob Wenger - All Rights Reserved */

.errors
{
    border: solid 2px #CD1A26;
    padding: 5px 10px 5px 10px;
    background-color: #E5736F;
    margin-bottom: 10px;
    width: 400px;
}

table tr
{
    height: 30px;
}

#editProfileEmailPreferencesForm tr
{
    height: 10px;
}

#editProfileEmailPreferencesForm td input
{
    margin: 5px 5px 0px 0px;
}

table th
{
    text-align: right;
    width: 85px;
    padding-right: 5px;
}

#editProfileEmailPreferencesForm th
{
    width: 5px;
}

table td input
{
    width: 200px;
    border: inset 2px #BBB;
}

table td select
{
    width: 204px;
    border: inset 2px #BBB;
}

.birthdaySelect
{
    width: 62px;
    margin-right: 5px;
}

.phoneInput
{
    width: 55px;
}

table td .invalid
{
    border: solid 2px #CD1A26;
}

#editProfileInformationButton, #editProfilePictureButton, #editProfilePrivacyButton, #editProfileEmailPreferencesButton
{
    padding: 5px 0px 5px 0px;
    width: 150px;
    font-weight: bold;
    font-size: 12px;
    color: white;
    margin-top: 15px;
    border-style: solid;
    border-radius: 5px;
    background-color: #288D42;
    border-color: #336E34;
    cursor: pointer;
}

#editProfileInformationButton:hover, #editProfilePictureButton:hover, #editProfilePrivacyButton:hover, #editProfileEmailPreferencesButton:hover
{
    border-color: #1A492B;
    cursor: pointer;
}

#editProfileInformationConfirmation, #editProfilePictureConfirmation, #editProfilePrivacyConfirmation, #editProfileEmailPreferencesConfirmation
{
    display: none;
}

#uploadTarget
{
    height: 0px;
    width: 0px;
    border: none;
    display: none;
}

#currentMemberImage
{
    height: 250px;
    width: 250px;
}

#newProfilePicture
{
    width: 200px;
    border: inset 2px #BBB;
}
