table tr
{
    height: 30px;
}

table th
{
    text-align: right;
    width: 85px;
    padding-right: 5px;
}

table td input
{
    width: 200px;
    border: inset 2px #BBB;
}

table td select
{
    width: 204px;
    border: inset 2px #BBB;
}

.birthdaySelect
{
    width: 62px;
    margin-right: 5px;
}

.phoneInput
{
    width: 55px;
}

table td .invalid
{
    border: solid 2px #FF0000;
}

#editProfileInformationButton, #editProfilePrivacyButton
{
    padding: 5px 0px 5px 0px;
    width: 150px;
    font-weight: bold;
    font-size: 12px;
    color: white;
    margin-top: 15px;
    border-style: solid;
    border-radius: 5px;
    background-color: #288D42;
    border-color: #336E34;
    cursor: pointer;
}

#editProfileInformationButton:hover, #editProfilePrivacyButton:hover
{
    border-color: #1A492B;
    cursor: pointer;
}

#editProfileInformationConfirmation, #editProfilePrivacyConfirmation
{
    display: none;
}
