#header
{
    background-color: #288D42;
    height: 100px;
    width: 100%;
}

#logo
{
    height: 54px;
    width: 199px;
    margin-top: 23px;
}

#searchInput
{
    height: 25px;
    margin-top: 36px;
    padding: 0px 5px 0px 5px;
    font-size: 16px;
    border: inset 2px #BBB;
}

#searchSuggestions
{
    top: 65px;
    margin-left: 5px;
    width: 440px;
}

.emptySearchInput
{
    color: #888;
}

#requestNotification
{
    color: #FFF;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    background-color: #CD1A26;
    border: solid 1px #CD1A26;
    border-radius: 5px;
    width: 30px;
    height: 24px;
    padding-top: 6px;
    margin-top: 35px;
}

#requestNotification:hover
{
    border-color: #FFF;
}

#requestNotificationLink:link, #requestNotificationLink:visited
{
    text-decoration: none;
}

#username
{
    text-align: right;
    margin-top: 28px;
}

#username a
{
    font-size: 20px;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}

#logout
{
    text-align: right;
}

#logout a
{
    font-size: 14px;
    color: #FFF;
}
