#locationImage
{
    height: 228px;
    width: 228px;
    border: solid 1px #000;
    margin-bottom: 5px;
}

#locationEditButton
{
    margin-left: -2px;
    padding: 2px 5px 2px 5px;
    background-color: #288D42;
    color: #FFF;
    font-weight: bold;
}

#locationSubmitButton
{
    margin-left: -2px;
    margin-top: 5px;
    padding: 2px 5px 2px 5px;
    background-color: #288D42;
    color: #FFF;
    font-weight: bold;
}

#locationCancelButton
{
    margin-left: 10px;
    margin-top: 5px;
    padding: 2px 5px 2px 5px;
    background-color: #288D42;
    color: #FFF;
    font-weight: bold;
}

#locationInfo
{
    overflow: hidden;
}

#dinnerContent, #pregameContent
{
    margin-bottom: 15px;
}

.infoSection
{
    margin-bottom: 15px;
}

.infoLabel
{
    font-weight: bold;
}

.formInput
{
    background-color: #EEE;
    border: 2px solid #DDD;
    border-style: inset;
    margin-bottom: 10px;
    width: 100%;
}

.formSelect
{
    margin-bottom: 10px;
    width: 100%;
}