#manageImage
{
    height: 228px;
    width: 228px;
    border: solid 1px #000;
    margin-bottom: 5px;
}

#manageInfo
{
    overflow: hidden;
}

.infoSection
{
    margin-bottom: 15px;
}

.infoLabel
{
    font-weight: bold;
}

#requestsContentLinks
{
    display: none;
}

#requestedRequestsContent
{
    margin-bottom: 15px;
}
