#memberImage
{
    height: 228px;
    width: 228px;
    border: solid 1px #000;
    margin-bottom: 5px;
}

.infoSection
{
    margin-bottom: 15px;
}

.infoLabel
{
    font-weight: bold;
}

.inkling
{
    width: 192px;
    padding: 3px 10px 10px 10px;
    border: solid 2px #288D42;
    background-color: #ABD4B0;
    float: left;
    text-align: center;
}

#dinnerInkling, #pregameInkling
{
    margin-right: 10px;
}

.inklingTitle
{
    margin-top: 2px;
    font-size: 22px;
    font-weight: bold;
    color: #288D42;
}

.inklingImage
{
    margin-top: 5px;
    border: solid 1px #000;
    height: 189px;
    width: 189px;
}

.inkling .locationName
{
    margin-top: 5px;
    font-size: 18px;
    width: 100%;
    word-wrap:break-word;
    color: #1B5898;
}

#dinnerContent, #pregameContent
{
    margin-bottom: 15px;
}
