.memberCard .cardName
{
    color: #288D42;
}

.memberCard .memberSpheres
{
    font-size: 14px;
    text-align: justify;
    margin: -3px 0px 3px 0px;
}

.mutualFollowings
{
    font-size: 12px;
}

.memberMessageName
{
    color: #288D42;
    text-decoration: none;
}

.requestToFollow, .revokeRequest, .acceptRequest, .circlesCardButton
{
    background-color: #E48116;
    border-color: #946732;
}

.requestToFollow:hover, .revokeRequest:hover, .acceptRequest:hover, .circlesCardButton:hover
{
    border-color: #793818;
}

.stopFollowing, .rejectRequest, .preventFollowing
{
    background-color: #CD1A26;
    border-color: #914044;
}

.stopFollowing:hover, .rejectRequest:hover, .preventFollowing:hover
{
    border-color: #7E181A;
}

.circlesMenu
{
    display: none;
    z-index: 1;
    position: absolute;
    width: 200px;
    color: #946732;
    background-color: #F1D8A2;
    border: 3px solid #946732;
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
}
