.networkMessageName
{
    color: #1B5898;
}

.buttons
{
    float: right;
    margin-top: 3px;
}

.joinNetwork
{
    background-color: #E48116;
    border-color: #946732;
}

.joinNetwork:hover
{
    border-color: #793818;
}

.leaveNetwork
{
    background-color: #CD1A26;
    border-color: #914044;
}

.leaveNetwork:hover
{
    border-color: #7E181A;
}
