#peopleContentLinks, #networksContentLinks
{
    display: none;
}

#peopleSubsectionContentLinks, #networksSubsectionContentLinks
{
    display: none;
}

.searchSummaryTitle
{
    color: #1B5898;
    font-size: 26px;
    margin: -3px 0px 10px 0px;
    font-weight: bold;
}

.searchSummarySubtitle
{
    color: #288D42;
    font-size: 20px;
    font-weight: bold;
}

.searchSummarySection
{
    margin-bottom: 15px;
    overflow: hidden;
}

.noResultsMessage
{
    display: none;
    margin-bottom: 15px;
}

.loadContentButton {
    background-color: #1B5898;
    border-color: #2A4360;
    background-color: #288D42;
    border-color: #336E34;
    margin: 0px 0px 30px 0px;
}
.loadContentButton:hover {
    border-color: #002C45;
    border-color: #1A492B;
}

.newItemInput
{
    margin-top: 10px;
}

.newItemButton
{
    padding: 2px 5px 2px 5px;
    color: white;
    font-weight: bold;
    margin-left: 5px;
}

#newLocationButton, #newLocationSubmit, #newLocationCancel
{
   background-color: #009ACD;
}

#newNetworkButton, #newNetworkSubmit, #newNetworkCancel
{
   background-color: #660066;
}

.newItemText, #newNetworkSubmit, #newNetworkCancel, #newLocationSubmit, #newLocationCancel
{
    display: none;
}
