#peopleContentLinks, #spheresContentLinks
{
    display: none;
}

#peopleSubsectionContentLinks, #spheresSubsectionContentLinks
{
    display: none;
}

.searchSummaryTitle
{
    color: #1B5898;
    font-size: 26px;
    margin: -3px 0px 10px 0px;
    font-weight: bold;
}

.searchSummarySubtitle
{
    color: #288D42;
    font-size: 20px;
    font-weight: bold;
}

.searchSummarySection
{
    margin-bottom: 15px;
    overflow: hidden;
}

.noResultsMessage
{
    display: none;
    margin-bottom: 15px;
}

.newItemInput
{
    margin-top: 10px;
}

.newItemButton
{
    padding: 2px 5px 2px 5px;
    color: white;
    font-weight: bold;
    margin-left: 5px;
}

#newLocationButton, #newLocationSubmit, #newLocationCancel
{
   background-color: #009ACD;
}

#newSphereButton, #newSphereSubmit, #newSphereCancel
{
   background-color: #660066;
}

.newItemText, #newSphereSubmit, #newSphereCancel, #newLocationSubmit, #newLocationCancel
{
    display: none;
}
