.sphereCard .cardName
{
    color: #1B5898;
}

.sphereMessageName
{
    color: #1B5898;
}

.buttons
{
    float: right;
    margin-top: 3px;
}

.joinSphere
{
    background-color: #E48116;
    border-color: #946732;
}

.joinSphere:hover
{
    border-color: #793818;
}

.leaveSphere
{
    background-color: #CD1A26;
    border-color: #914044;
}

.leaveSphere:hover
{
    border-color: #7E181A;
}
