.suggestions
{
    border: solid 2px #AAA;
    border-top: none;
    position: absolute;
    z-index: 1;
    display: none;
}

.suggestionCategory
{
    background-color: #AAA;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    height: 10px;
    padding: 5px;
}

.suggestionCategory p
{
    margin-top: -3px;
}

.suggestions a
{
    color: black;
    text-decoration: none;
}

.suggestion
{
    background-color: #E4E4E4;
    border-top: solid 2px #AAA;
    height: 50px;
}

.suggestion:hover
{
    background-color: #ABD4B0;
}

.suggestion img
{
    height: 38px;
    width: 38px;
    float: left;
    margin: 5px 10px 0px 5px;
    border: solid 1px #000;
}

.suggestion p
{
    font-size: 18px;
    padding-top: 12px;
}

#noSuggestions
{
    background-color: #E4E4E4;
    border-top: solid 2px #AAA;
    font-size: 16px;
    text-align: center;
    height: 30px;
    padding-top: 10px;
}
