button::-moz-focus-inner
{
    border: none;
}

.circle
{
    height: 150px;
    width: 150px;
    border-radius: 75px;
    color: #FFF;
    background-color: #288D42;
    font-size: 14px;
    font-weight: bold;
    margin: 0px 14px 15px 0px;
    border: solid 5px #DDD;
    cursor: pointer;
}

.circle:hover
{
    border-color: #ABC2E5;
}

.selectedCircle
{
    background-color: #1B5898;
}

#createCircleButton
{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    color: #FFF;
    background-color: #288D42;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    border: solid 5px #DDD;
    cursor: pointer;
}

#createCircleButton:hover
{
    border-color: #ABC2E5;
}

#newCircle
{
    display: none;
}

#newCircleInput, #renameCircleInput
{
    width: 90%;
    text-align: center;
}

#circleButtonsContainer
{
    margin-bottom: 10px;
}

#deleteCircleButton
{
    background-color: #CD1A26;
    border-color: #914044;
    border-style: solid;
    border-radius: 5px;
    color: #FFF;
    font-weight: bold;
    float: right;
    padding: 2px 5px 2px 5px;
}

#deleteCircleButton:hover
{
    border-color: #7E181A;
    cursor: pointer;
}

#addToCircleInput
{
    padding: 2px 5px 2px 5px;
    width: 250px;
}

.emptyAddToCircleInput
{
    color: #888;
}

#addToCircleSuggestions
{
    width: 260px;
}
