*
{
    margin: 0px;
    padding: 0px;
}

.hidden
{
    display: none;
}

#yourCirclesText
{
    font-size: 18px;
    margin-bottom: 15px;
}

#selectedCircleName
{
    font-size: 36px;
    font-weight: bold;
    color: #288D42;
    float: left;
}

.center {
    margin-left: 30px;
}

.circle
{
    height: 130px;
    width: 130px;
    border-radius: 65px;
   
    font-size: 14px;

    background-color: #288D42;
    color: #FFF;
    font-weight: bold;
    margin: 0px 15px 15px 0px;
    border: solid 5px #CCC;
}

.selectedCircle
{
    background-color: #009ACD;
}

#createCircleButton
{
    height: 80px;
    width: 80px;
    border-radius: 40px;
   
    font-size: 24px;

    background-color: #288D42;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 15px;
    border: solid 5px #CCC;
}

#newCircleInput
{
    width: 120px;
}

#locationSubmitButton, #locationCancelButton
{
    padding: 2px 5px 2px 5px;
    background-color: #288D42;
    color: #FFF;
    font-weight: bold;
}

#locationEditButton
{
    padding: 2px 5px 2px 5px;
    background-color: #288D42;
    color: #FFF;
    margin: 5px 0px 0px 0px;
    font-weight: bold;
    float: right;
}

.infoSection
{
    margin-bottom: 15px;
}

.infoLabel
{
    font-weight: bold;
    margin-bottom: 3px;
}

.formLabel
{
    font-weight: bold;
}

#locationMembers
{
    clear: both;
}

.formInput
{
    width: 300px;
    background-color: #EEE;
    border: 2px solid #DDD;
    border-style: inset;
    margin-bottom: 10px;
}

#circleButtonsContainer
{
    margin-bottom: 10px;
}

#deleteCircleButton
{
    background-color: #FF4040;
    padding: 2px 5px 2px 5px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    float: right;
}

#addToCircleInput
{
    padding: 2px 5px 2px 5px;
    width: 250px;
    color: #888;
}

#addToCircleSuggestions
{
    width: 260px;
}
