.date
{
    text-align: center;
    border: solid 2px #288D42;
    height: 95px;
    margin-bottom: 10px;
    cursor: pointer;
}

.month
{
    font-size: 18px;
    padding: 5px 0px 5px 0px;
    background-color: #DDD;
}

.day
{
    padding-top: 5px;
    font-size: 40px;
}

.selectedDate
{
    background-color: #DDD;
}

.selectedDate .month
{
    background-color: #CD1A26;
    color: #FFF;
}

.selectedDate .day
{
    color: #CD1A26;
}

.inkling
{
    padding: 3px 10px 10px 10px;
    border: solid 2px #288D42;
    background-color: #DDD;
}

.inkling p
{
    margin-top: 2px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #288D42;
}

.inkling img
{
    margin-top: 5px;
    border: solid 1px #000;
    height: 204px;
    width: 204px;
}

.inkling input
{
    margin-top: 5px;
    font-size: 18px;
    padding: 5px;
    width: 192px;
}

#othersInklingsContent
{
    display: none;
}

.locationBoardSelect
{
    padding: 3px 10px 3px 10px;
}

#locationBoard
{
    margin-top: 20px;
}

.locationBoardCard
{
    border: solid 2px #288D42;
    background-color: #DDD;
    padding: 10px;
    height: 75px;
    margin-bottom: 10px;
}

.locationBoardCardCount
{
    border: solid 1px black;
    text-align: center;
    height: 57px;
    font-size: 32px;
    padding-top: 15px;
    font-weight: bold;
    color: #FFF;
    background-color: #1B5898;
}

.locationBoardCardName
{
    margin-top: 3px;
    font-size: 36px;
    color: #288D42;
    text-decoration: none;
}
