*
{
    margin: 0px;
    padding: 0px;
}

.hidden
{
    display: none;
}

#locationImage
{
    height: 200px;
    width: 200px;
    border: solid 1px #777;
}

#locationnName
{
    font-size: 36px;
    font-weight: bold;
    color: #288D42;
    float: left;
}

#locationSubmitButton, #locationCancelButton
{
    padding: 2px 5px 2px 5px;
    background-color: #288D42;
    color: #FFF;
    font-weight: bold;
}

#locationEditContent
{
    display: none;
}

#locationEditButton
{
    padding: 2px 5px 2px 5px;
    background-color: #288D42;
    color: #FFF;
    margin: 5px 0px 0px 0px;
    font-weight: bold;
}

.border
{
    border: 1px solid #000000;
}

.infoSection
{
    margin-bottom: 15px;
}

.infoLabel
{
    font-weight: bold;
    margin-bottom: 3px;
}

.formLabel
{
    font-weight: bold;
}

.formInput
{
    background-color: #EEE;
    border: 2px solid #DDD;
    border-style: inset;
    margin-bottom: 10px;
}

h4
{
    font-size: 16px;
    font-weight: bold;
    font-family: helvetica;
    color: #000000;
}

h3
{
    font-size: 28px;
    font-weight: bold;
    color: #288D42;
}
