/* Welcome */
#welcomeText
{
    color: #385E0F;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
    margin-bottom: 20px;
}

#welcomeImage
{
    height: 275px;
    width: 470px;
}

/* Login */
.contentLink
{
    color: #BBB;
    font-size: 28px;
    font-weight: bold;
    margin: -3px 0px 15px 0px;
    cursor: pointer;
}

.selectedContentLink
{
    color: #385E0F;
}

.loginLabel, .registrationLabel
{
    text-align: right;
    font-weight: bold;
    margin-bottom: 10px;
}

#loginEmail
{
    margin-bottom: 10px;
}

#keepLoggedIn
{
    float: right;
    margin-top: 15px;
}

#forgottenPassword
{
    margin: 0px 0px 1px 8px;
    text-align: right;
}

#forgottenPassword a
{
    font-size: 12px;
    color: #385E0F;
}

.buttonContainer
{
    text-align: center;
}

#loginButton, #registrationButton
{
    padding: 5px 0px 5px 0px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    background-color: #385E0F;
}

.invalidInput
{
    border: solid 2px #FF0000;
}

/* Registration */
.unselectedContent
{
    display: none;
}

#registrationForm th
{
    text-align: right;
    padding: 0px 10px 15px 0px;
}

#registrationForm td
{
    padding: 0px 0px 12px 0px;
}

#registrationForm td input
{
    width: 200px;
}
