#welcomeText
{
    color: #385E0F;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
    margin-bottom: 20px;
}

#welcomeImage
{
    height: 275px;
    width: 470px;
}

.contentLink
{
    color: #BBB;
    font-size: 28px;
    font-weight: bold;
    margin: -3px 0px 20px 0px;
    cursor: pointer;
}

.selectedContentLink
{
    color: #385E0F;
}

.loginLabel, .registrationLabel
{
    text-align: right;
    font-weight: bold;
    margin-bottom: 11px;
}

#loginEmail, #registrationFirstName, #registrationLastName, #registrationEmail, #registrationConfirmEmail, #registrationPassword, #registrationConfirmPassword
{
    margin-bottom: 10px;
}

#registrationConfirmPasswordLabel
{
    margin-left: -35px;
}

#keepLoggedIn
{
    float: right;
    margin-top: 15px;
}

#forgottenPassword
{
    margin: 0px 0px 1px 8px;
    text-align: right;
}

#forgottenPassword a
{
    font-size: 12px;
    color: #385E0F;
}

#loginButton, #registrationButton
{
    padding: 5px 0px 5px 0px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    background-color: #385E0F;
}

.invalidInput
{
    border: solid 2px #FF0000;
}

.unselectedContent
{
    display: none;
}
