*
{
    margin: 0px;
    padding: 0px;
}

a
{
    outline: none;
}

#mainContent
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.contentLink
{
    color: #BBB;
    font-size: 26px;
    font-weight: bold;
    margin: -3px 0px 20px 0px;
    cursor: pointer;
    float: left;
    margin-right: 30px;
}

.selectedContentLink
{
    color: #385E0F;
}

.subheader
{
    font-weight: bold;
    font-size: 18px;
    margin-top: 3px;
    color: #385E0F;
}

#footer
{
    background-color: #385E0F;
    height: 30px;
    width: 100%;
    text-align: center;
}

.footerText
{
    color: #FFFFFF;
    padding-top: 7px;
    font-size: 14px;
}
