*
{
    margin: 0px;
    padding: 0px;
    font-family: helvetica;
}

a
{
    outline: none;
}

input
{
   color: #1B5898;
}

#mainContent
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.contentLink
{
    color: #ABC2E5;
    font-size: 26px;
    font-weight: bold;
    margin: -3px 0px 20px 0px;
    cursor: pointer;
    float: left;
    margin-right: 30px;
}

.selectedContentLink
{
    color: #1B5898;
}

.subsectionContentLink
{
    color: #F1D8A2;
    font-size: 20px;
    font-weight: bold;
    margin: -3px 0px 20px 0px;
    cursor: pointer;
    float: left;
    margin-right: 30px;
}

.selectedSubsectionContentLink
{
    color: #E48116;
}

.subheader
{
    font-weight: bold;
    font-size: 18px;
    margin-top: 3px;
    color: #288D42;
}

#footer
{
    background-color: #288D42;
    height: 30px;
    width: 100%;
    text-align: center;
}

.footerText
{
    color: #FFFFFF;
    padding-top: 7px;
    font-size: 14px;
}
