#profileInfo ul {
    font-size: 18px;
}

#profileInfo .edit {
    display: none;
}

#profileImage
{
    height: 200px;
    width: 200px;
    border: solid 1px #777;
    margin-top: 5px;
}

.profileButton {
    padding: 2px 5px 2px 5px;
    color: white;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 15px;
}

#editProfileButton {
    background-color: #1B5898;
}

#submitChangesButton {
    background-color: #288D42;
}

#discardChangesButton {
    background-color: #CD1A26;
}

#manageContentLinks
{
    margin-top: -3px;
    margin-bottom: 15px;
}

#manageContentLinks p
{
    color: #ABC2E5;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    float: left;
    margin-right: 30px;
}

#manageContentLinks #selectedManageContentLink
{
    color: #1B5898;
}

#requestsContentLinks
{
    display: none;
    margin-bottom: 15px;
}

#requestsContentLinks p
{
    color: #F1D8A2;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    float: left;
    margin-right: 30px;
}

#requestsContentLinks #selectedRequestsContentLink
{
    color: #E48116;
}

#requestedRequestsContent
{
    margin-bottom: 15px;
}
