ul {
 list-style: none;  
}

.memberCard
{
    border: 2px solid darkgray;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cardImage
{
    border: solid black 1px;
    margin-top: 5px;
    height: 100px;
    width: 100px;
}

.memberName
{
    font-family: helvetica;
    color: #385E0F;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 5px;
}

.spheres
{
    font-size: 14px;
}

.mutualFriends
{
    font-size: 12px;
    margin-bottom: 5px;
}

.contactInfo
{
    font-family: helvetica;
    font-size: 10px;
    color: navy;
    text-align: right;
    margin-right: 15px;
    margin-top: 15px;
}

.contactLabel
{
    color: gray;
}

.buttons
{
    float: right;
    margin-bottom: 5px;
}


.cardButton
{
    padding: 2px 5px 2px 5px;
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.requestToFollow
{
    background-color: #385E0F;
}

.stopFollowing
{
    background-color: #FF4040;
}

.revokeRequest
{
    background-color: #009ACD;
}

.acceptRequest
{
    background-color: #009ACD;
}

.rejectRequest
{
    background-color: #FF4040;
}

.preventFollowing
{
    background-color: #FF4040;
}

.remove
{
    background-color: #FF4040;
}

.add
{
    background-color: #009ACD;

}

.circlesCardButton
{
    background-color: #009ACD;
}

.circlesMenu {
    display: none;
    z-index: 1;
    border: 3px solid darkgray;
    border-radius: 5px;
    background-color: lightgray;
    position: absolute;
    width: 200px;
    color: #385E0F;
}

.circlesMenu ul {
    padding: 5px;   
    font-size: 12px;
}


.border
{
    border: 1px solid black;
    margin-left: 9px;
    margin-right: 9px;
}


