ul {
 list-style: none;  
}

.memberCard
{
    border: 2px solid #444;
    background-color: #BBB;
    border-radius: 5px;
    margin-bottom: 10px;
}

.cardImage
{
    border: 1px solid #444;
    height: 100px;
    width: 100px;
    float: left;
    margin: 5px 10px 5px 5px;
}

.memberCardInfo
{
    width: 400px;
    float: left;
    margin: 0px 10px 5px 0px;
}

.memberCardName
{
    color: #288D42;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
}

.memberCardSpheres
{
    font-size: 14px;
    width: 100%;
}

.memberCardSphere
{
    float: left;
}

.mutualFriends
{
    clear: both;
    font-size: 12px;
    margin-bottom: 5px;
}

.memberCardContactInfo
{
    float: left;
    font-size: 12px;
    text-align: right;
    width: 130px;
    margin-top: 5px;
}

.buttons
{
    float: right;
    margin-bottom: 5px;
}

.cardButton
{
    color: #FFF;
    font-weight: bold;
    margin-left: 10px;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
}

.requestToFollow, .revokeRequest, .acceptRequest, .circlesCardButton
{
    background-color: #E48116;
    border-color: #946732;
}

.requestToFollow:hover, .revokeRequest:hover, .acceptRequest:hover, .circlesCardButton:hover
{
    border-color: #793818;
}

.stopFollowing, .rejectRequest, .preventFollowing
{
    background-color: #CD1A26;
    border-color: #914044;
}

.stopFollowing:hover, .rejectRequest:hover, .preventFollowing:hover
{
    border-color: #7E181A;
}

.circlesMenu
{
    display: none;
    z-index: 1;
    border: 3px solid #946732;
    border-radius: 5px;
    background-color: #F1D8A2;
    position: absolute;
    width: 200px;
    color: #946732;
    margin-bottom: 20px;
    margin-right: 20px;
}

.circlesMenu ul
{
    padding: 5px;   
    font-size: 12px;
}
