ul {
 list-style: none;  
}

.memberCard
{
    border: 2px solid #444;
    background-color: #BBB;
    border-radius: 5px;
    margin-bottom: 10px;
}

.cardImage
{
    border: 1px solid #444;
    height: 100px;
    width: 100px;
    float: left;
    margin: 5px 10px 5px 5px;
}

.memberCardInfo
{
    width: 400px;
    float: left;
    margin: 0px 10px 5px 0px;
}

.memberCardName
{
    font-family: helvetica;
    color: #288D42;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
}

.memberCardSpheres
{
    font-size: 14px;
    width: 100%;
}

.memberCardSphere
{
    float: left;
}

.mutualFriends
{
    clear: both;
    font-size: 12px;
    margin-bottom: 5px;
}

.memberCardContactInfo
{
    float: left;
    font-size: 12px;
    text-align: right;
    width: 130px;
    margin-top: 5px;
}

.buttons
{
    float: right;
    margin-bottom: 5px;
}


.cardButton
{
    padding: 2px 5px 2px 5px;
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.requestToFollow
{
    background-color: #288D42;
}

.stopFollowing
{
    background-color: #FF4040;
}

.revokeRequest
{
    background-color: #1B5898;
}

.acceptRequest
{
    background-color: #1B5898;
}

.rejectRequest
{
    background-color: #FF4040;
}

.preventFollowing
{
    background-color: #FF4040;
}

.remove
{
    background-color: #FF4040;
}

.add
{
    background-color: #1B5898;

}

.circlesCardButton
{
    background-color: #1B5898;
}

.circlesMenu {
    display: none;
    z-index: 1;
    border: 3px solid darkgray;
    border-radius: 5px;
    background-color: lightgray;
    position: absolute;
    width: 200px;
    color: #288D42;
}

.circlesMenu ul {
    padding: 5px;   
    font-size: 12px;
}


.border
{
    border: 1px solid black;
    margin-left: 9px;
    margin-right: 9px;
}


