*
{
    margin: 0px;
    padding: 0px;
}

.searchTitle
{
    font-size: 26px;
    font-weight: bold;
    color: #385E0F;
}

.noResultsMessage
{
    margin-bottom: 15px;
}

.searchResults ul {
    margin-top: 30px;
}

.filterButton {
    height: 50px;
    font-size: 24px;
    color: #009ACD;
    background-color: lightgray;
    margin-bottom: 10px;
    border-radius: 5px;
}

.selected {
    background-color: #385E0F;
    color: #FFFFFF;
}

.newItemInput
{
    margin-top: 10px;
}

.newItemButton
{
    padding: 2px 5px 2px 5px;
    color: white;
    font-weight: bold;
    margin-left: 5px;
}

#newLocationButton, #newLocationSubmit, #newLocationCancel
{
   background-color: #009ACD;
}

#newSphereButton, #newSphereSubmit, #newSphereCancel
{
   background-color: #660066;
}

.newItemText, #newSphereSubmit, #newSphereCancel, #newLocationSubmit, #newLocationCancel
{
    display: none;
}

#peopleSubsectionContentLinks, #spheresSubsectionContentLinks
{
    display: none;
}
