*
{
    margin: 0px;
    padding: 0px;
}

h3 {
    font-size: 30px;
    color: #288D42;

}

.searchResults ul {
    margin-top: 30px;
}

.filterButton {
    height: 50px;
    font-size: 24px;
    color: white;
    background-color: #ABD4B0;
    border-color: #336E34;
    margin-bottom: 10px;
    border-radius: 5px;
    border-style: solid;
    border-radius: 7px;
}

.selected {
    background-color: #288D42;
    color: #FFFFFF;
}

.newItemInput
{
    margin-top: 10px;
}

.newItemButton
{
    padding: 2px 5px 2px 5px;
    color: white;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 10px;
    border-style: solid;
    border-radius: 3px;
    height: 23px;
}

#newLocationButton, #newLocationSubmit, #newLocationCancel
{
   background-color: #1B5898;
   border-color: #2A4360;
}

#newSphereButton, #newSphereSubmit, #newSphereCancel
{
    background-color: #1B5898;
    border-color: #2A4360;
}

.newItemText, #newSphereSubmit, #newSphereCancel, #newLocationSubmit, #newLocationCancel
{
    display: none;
}