.sphereCard
{
    border: 2px solid #444;
    background-color: #BBB;
    border-radius: 5px;
    margin-bottom: 15px;
}

.sphereCardName
{
    font-family: helvetica;
    color: #660066;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
}

.buttons
{
    float: right;
    margin-top: 7px;
}

.cardButton
{
    padding: 2px 5px 2px 5px;
    color: #FFF;
    font-weight: bold;
    float: right;
}

.joinSphere
{
    background-color: #385E0F;
}

.leaveSphere
{
    background-color: #FF4040;
}
