.sphereCard
{
    border: 2px solid #444;
    background-color: #BBB;
    border-radius: 5px;
    margin-bottom: 15px;
}

.sphereCardName
{
    font-family: helvetica;
    color: #1B5898;
    font-size: 26px;
    font-weight: bold;
    margin-top: 3px;
    text-decoration: none;
}

.buttons
{
    float: right;
    margin-top: 7px;
}

.cardButton
{
    padding: 2px 5px 2px 5px;
    color: #FFF;
    font-weight: bold;
    float: right;
    outline: none;
}

.joinSphere
{
    background-color: #E48116;
    border-color: #946732;
}

.joinSphere:hover
{
    border-color: #793818;
}

.leaveSphere
{
    background-color: #CD1A26;
    border-color: #914044;
}

.leaveSphere:hover
{
    border-color: #7E181A;
}
