.suggestionTitle
{
    text-align: center;
    color: #385E0F;
    font-size: 24px;
    font-weight: bold;
}

.inklingInput
{
    font-size: 18px;
    padding: 5px;
    width: 215px;
}

.suggestions
{
    border: solid 1px #919191;
    background-color: #A0A0A0;
    font-size: 10px;
    line-height: 14px;
    display: none;
    z-index: 2;
    position: absolute;
}

.suggestion
{
    display: block;
    background-color: #E4E4E4;
    clear: left;
    height: 56px;
    text-decoration: none;
    border-bottom: solid 1px #919191;
}

.suggestion:hover
{
    color: #FFFFFF;
    background-color: #B7B7B7;
}

.suggestionImage
{
    float: left;
    padding: 5px 10px 0px 5px;
    height: 40px;
    width: 40px;
}

.suggestionText
{
    font-size: 20px;
    display: block;
    padding-top: 18px;
    color: #191919;
}

.suggestionCategory
{
    font-size: 14px;
    font-weight: bold;
    margin: 5px;
    display: block;
    color: #FFFFFF;
}

.suggestionFooter
{
    font-size: 11px;
}
