.suggestions
{
    border: solid 1px #919191;
    background-color: #AAA;
    position: absolute;
    z-index: 1;
    display: none;
}

#searchSuggestions
{
    top: 65px;
}

.inklingSuggestions
{
    width: 204px;
}

.suggestion
{
    display: block;
    background-color: #E4E4E4;
    clear: left;
    height: 50px;
    cursor: pointer;
    border-bottom: solid 1px #919191;
}

.suggestion:hover
{
    background-color: #B7B7B7;
}

.suggestionImage
{
    height: 38px;
    width: 38px;
    float: left;
    margin: 5px 10px 0px 5px;
    border: solid 1px #000;
}

.suggestionText
{
    font-size: 20px;
    display: block;
    padding-top: 12px;
    color: #191919;
}

.suggestionCategory
{
    font-size: 14px;
    font-weight: bold;
    margin: 5px;
    display: block;
    color: #FFFFFF;
}

.suggestionFooter
{
    padding: 5px 10px 0px 5px;
    font-size: 12px;
    padding-bottom: 5px;
}

#noSuggestions
{
    font-size: 20px;
    color: #191919;
    text-align: center;
    background-color: #E4E4E4;
    height: 40px;
    padding-top: 12px;
}
