<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Stienessen</title>
	<meta name="author" content="Chad Heise">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
	{% block title %}
	{% endblock title %}
</head>

<body>
    <div class="main">
        {% block maincontent %}
        <p>This is some base text</p>
        {% endblock maincontent %}
    </div>
</body>
</html>
