{% extends "base.html" %}

{% block title %}
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/circle.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}/circle.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/header.js"></script>
{% endblock title%}

{% block header %}
    {% include "header.html" %}
{% endblock header %}

{% block mainContent %}
    <div id="mainContent">
        <div id="leftContainer">
            <p>Hi</p>
        </div>
        
        <div id="rightContainer">
            <input id="selectedCircle" class="circle" type="button" value="Accepted" circleID="-1" />
            {% for circle in circles %}
                <input class="circle" type="button" value="{{ circle.name }}" circleID="{{ circle.id }}" />
            {% endfor %}
                
            <div id="circleMembers">
                {% for m in accepted %}
                    <p>{{ m.first_name }} {{ m.last_name }}</p>
                    <input class="removeMemberButton" type="button" value="Remove" memberID="{{ m.id }}" />
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock mainContent%}
