<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/header.css" />
    </head>

    <body id="header">
        <div class="headerTitle">
            <h1>Up For It</h1>
        </div>
    
        {% if uid %}
            <div class="user_info">
                <div>
                    Welcome {{ user }}!
                </div>
                <div class="small" >
                    <a href="/upforit/logout/">Logout</a>
                </div>
            </div>
        {% endif %}
    </body>
</html>
