{% extends "base.html" %}

{% block title %}
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/location.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}/location.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/header.js"></script>
{% endblock title%}

{% block header %}
    {% include "header.html" %}
{% endblock header %}

{% block mainContent %}
    <div id="mainContent">
        <input id="locationID" type="hidden" value="{{ location.id }}" />

        <div id="locationContainer">
            <div id="locationLeftContainer">
                <!-- Location image -->
                <img id="locationImage" src="http://dummyimage.com/300x300/AAA/fff.jpg&text=+" />
                
                <!-- Location address -->
                <div class="infoSection">
                    <p class="infoLabel">Address:</p>
                    <p><span id="locationStreet">{{ location.street }}</span></p>
                    <p><span id="locationCity">{{ location.city }}</span>, <span id="locationState">{{ location.state }}</span> <span id="locationZipCode">{{ location.zip_code }}</span></p>
                </div>
                
                <!-- Location phone -->
                <div class="infoSection">
                    <p class="infoLabel">Phone:</p>
                    <p>(717) 234-6138
                </div>
                
                <!-- Location website -->
                <div class="infoSection">
                    <p class="infoLabel">Website:</p>
                    <a href="#">http://www.jacobstavern.com</a>
                </div>
                
                <!-- Location hours -->
                <div class="infoSection">
                    <p class="infoLabel">Hours:</p>
                    <p>M: 10 AM - 2 AM</p>
                    <p>T: 10 AM - 2 AM</p>
                    <p>W: 10 AM - 2 AM</p>
                    <p>H: 10 AM - 2 AM</p>
                    <p>F: 10 AM - 4 AM</p>
                    <p>S: 10 AM - 4 AM</p>
                    <p>U: 10 AM - 2 AM</p>
                </div>

                <!-- Location category -->
                <div class="infoSection">
                    <p class="infoLabel">Category:</p>
                    <p><span id="locationCategory">{{ location.category }}</span></p>
                </div>

            </div>

            <div id="locationRightContainer">
                <div>
                    <p id="locationName">{{ location.name }}</p>
                    {% if member.is_staff %}
                        <button id="locationEditButton" type="button">Edit location</button>
                    {% endif %}
                </div>
                <div id="locationMembers">
                    {% if member.is_staff %}
                        <div id="locationEditContent" class="hidden">
                            <label for="nameInput" class="formLabel">Name:</label>
                            <br />
                            <input id="nameInput" class="formInput" value="{{ location.name }}" />
                            <br />
                            <label for="streetInput" class="formLabel">Street:</label>
                            <br />
                            <input id="streetInput" class="formInput" value="{{ location.street }}" />
                            <br />
                            <label for="cityInput" class="formLabel">City:</label>
                            <br />
                            <input id="cityInput" class="formInput" value="{{ location.city }}" />
                            <br />
                            <label for="stateInput" class="formLabel">State:</label>
                            <br />
                            <input id="stateInput" class="formInput" value="{{ location.state }}" />
                            <!--<select id="stateSelect" class="formInput" value="{{ location.state }}" />
                                <option>Alabama</option>
                                <option>Alaska</option>
                                <option>Arizona</option>
                                <option>Arkansas</option>
                                <option>California</option>
                                <option>Colorado</option>
                                <option>Connecticut</option>
                                <option>Delaware</option>
                                <option>Florida</option>
                                <option>Georgia</option>
                                <option>Hawaii</option>
                                <option>Idaho</option>
                                <option>Illinois</option>
                                <option>Indiana</option>
                                <option>Iowa</option>
                                <option>Kansas</option>
                                <option>Kentucky</option>
                                <option>Louisiana</option>
                                <option>Maine</option>
                                <option>Maryland</option>
                                <option>Massachusetts</option>
                                <option>Michigan</option>
                                <option>Minnesota</option>
                                <option>Mississippi</option>
                                <option>Missouri</option>
                                <option>Montana</option>
                                <option>Nebraska</option>
                            </select>-->
                            <br />
                            <label for="zipCodeInput" class="formLabel">Zip code:</label>
                            <br />
                            <input id="zipCodeInput" class="formInput" value="{{ location.zip_code }}" />
                            <br />
                            <label for="categoryInput" class="formLabel">Category:</label>
                            <br />
                            <input id="categoryInput" class="formInput" value="{{ location.category }}" />
                            <br />
            
                            <div class="actionButtonContainer">
                                <input id="locationSubmitButton" class="actionButton" type="submit" value="Submit" />
                                <button id="locationCancelButton" type="button">Cancel</button>
                            </div>
                        </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock mainContent%}
