{% extends "base.html" %}

{% block title %}
    <link rel="stylesheet" type="text/css" href="/static/css/location.css" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/location.js"></script>

    <script type="text/javascript">
        $('html').ajaxSend(function(event, xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }

        });
    </script>

{% endblock title%}

{% block maincontent %}
    {% include "header.html" %}
   
    <input id="locationID" type="hidden" value="{{ location.id }}" />

    <div id="locationContent">
        <div class="locationImage">&nbsp;</div>
        <p><span id="locationName">{{ location.name }}</span></p>
        <p><span id="locationStreet">{{ location.street }}</span></p>
        <p><span id="locationCity">{{ location.city }}</span>, <span id="locationState">{{ location.state }}</span> <span id="locationZipCode">{{ location.zip_code }}</span></p>
        <p><span id="locationCategory">{{ location.category }}</span></p>
    </div>

    {% if member.is_staff %}
        <div id="locationEditContent">
            <label for="nameInput">Name:</label>
            <br />
            <input id="nameInput" class="editInput" value="{{ location.name }}" />
            <br />
            <label for="streetInput">Street:</label>
            <br />
            <input id="streetInput" class="editInput" value="{{ location.street }}" />
            <br />
            <label for="cityInput">City:</label>
            <br />
            <input id="cityInput" class="editInput" value="{{ location.city }}" />
            <br />
            <label for="stateInput">State:</label>
            <br />
            <input id="stateInput" class="editInput" value="{{ location.state }}" />
            <br />
            <label for="zipCodeInput">Zip code:</label>
            <br />
            <input id="zipCodeInput" class="editInput" value="{{ location.zip_code }}" />
            <br />
            <label for="categoryInput">Category:</label>
            <br />
            <input id="categoryInput" class="editInput" value="{{ location.category }}" />
            <br />
            
            <div class="actionButtonContainer">
                <input id="locationSubmitButton" class="actionButton" type="submit" value="Submit" />
                <button id="locationCancelButton" type="button">Cancel</button>
            </div>
        </div>
        <button id="locationEditButton" type="button">Edit</button>
    {% endif %}

    <p id="results"></p>
{% endblock maincontent%}
