{% extends "base.html" %}

{% block title %}
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/upforit.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/people.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}/upforit.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/header.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/people.js"></script>
{% endblock title%}

{% block header %}
    {% include "header.html" %}
{% endblock header %}

{% block mainContent %}
    <div id="mainContent">
        {% for m in members %}
            <div class="memberContainer">
                <img class="memberImage" src="http://dummyimage.com/100x100/AAA/fff.jpg&text=+" />
                <div class="memberInfo">
                    <p class="memberName">{{ m.first_name }} {{ m.last_name }}</p>
                    <p class="networks">University of Notre Dame &middot; South Bend</p>
                    <p class="mutualFriends">{{ m.num_mutual_friends }} mutual friends</p>
                    {% if m.relationship == "other" and m != member %}
                        <input class="followRequestButton" type="button" value="Request to follow" memberID="{{ m.id }}" />
                    {% endif %}
                    {% if m.relationship == "pending" and m != member %}
                        <input class="followRequestButton requestPending" type="button" value="Revoke request" memberID="{{ m.id }}" />
                    {% endif %}
                    {% if m.relationship == "friend" and m != member %}
                        <input class="followRequestButton stopFollowing" type="button" value="Stop following" memberID="{{ m.id }}" />
                    {% endif %}
                    <!--<p>{{ m.username }}</p>
                    <p>{{ m.gender }}, {{ m.phone }}</p>-->
                </div>
            </div>
            <br />
        {% endfor %}
        
        <div class="rickrolled">
                    <p>Never gonna give you up
                    Never gonna let you down
                    Never gonna run around and desert you
                    Never gonna make you cry
                    Never gonna say goodbye
                    Never gonna tell a lie and hurt you</p>
        </div>
        
    </div>
{% endblock mainContent%}
