{% extends "base.html" %}
{% block title %}
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="/static/css/login.css" />
{% endblock title %}

{% block header %}
    {% include "header.html" %}
{% endblock header %}

{% block mainContent %}
    <div class="login">
    
        <h1>Register</h1>
        {% if form.errors %}
            <p class="error">Please correct the following error{{ form.errors|pluralize }}.</p>
        {% endif %}
    
        <form action="" method="post">
            {% csrf_token %}
            <ul>
                {{ form.as_ul }}
            </ul>
            <input type="submit" name="submit" value="Submit" class="button2" \>
        </form>
        
    </div>
    
{% endblock mainContent %}
