{% extends "base.html" %}

{% block title %}
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/960_24_col.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/upforit.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/search.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/memberCard.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}/upforit.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/header.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/search.js"></script>
{% endblock title%}

{% block header %}
    {% include "header.html" %}
{% endblock header %}

{% block mainContent %}
    <div id="mainContent" class="container_24">
        <div class="grid_8">
            <h3>Filters</h3>
            <ul>
               <li><input class="filterButton selected push_1 grid_6" type="button" value="All"></li>
               <li><input class="filterButton selected push_1 grid_6" type="button" value="People"></li> 
               <li><input class="filterButton selected push_1 grid_6" type="button" value="Locations"></li>
               <li><input class="filterButton selected push_1 grid_6 " type="button" value="Spheres"></li>
            </ul>
        </div>
        <div class="grid_16">
            {% for m in members %}
                {% if m != member %}
                    {% include "memberCard.html" %}
                {% endif %}
            {% endfor %}
       </div>
        
    </div>
{% endblock mainContent%}
