.categories {
    width: 240px;
    margin: 10px;
    padding: 0%;
    border: 2px solid #007BA7;
    border-radius: 10px;
    background: #D18726;
    display: block;
    float: left;
    clear: left;
}

.categories ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.categories ul li {
   font-size: medium;
   font-style: none;
   color: #FFFFFF;
   width: 100%;
   margin: 0%;
   padding: 2% 0%;
   /*border: 2px solid #007BA7;*/
   border-radius: 10px;
   
}

.categories ul li:hover {
   background: #B16706;
   /*border: 1px solid #007BA7;*/
   cursor: pointer;
   
}

categories_highlighted {
   background: #B16706;
}

#tabs {
    width: 240px;
    margin: 10px;
    padding: 0%;
    display: block;
    float: left;

}

#CookbookHome {
   display: block;
   float: left;
   width: 100px;
   margin: 0px 7px;
}

#NewRecipe {
   display: block;
   float: left;
   width: 100px;
   margin: 0px 7px;
}