*
{
    margin: 0px;
    padding: 0px;
}

.hidden
{
    display: none;
}

#yourCirclesText
{
    font-size: 18px;
    margin-bottom: 15px;
}

#selectedCircleName
{
    font-size: 36px;
    font-weight: bold;
    color: #385E0F;
    float: left;
}

.circle
{
    height: 140px;
    width: 140px;
    border-radius: 70px;
   
    font-size: 14px;

    background-color: #385E0F;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 15px;
    border: solid 5px #CCC;
}

#selectedCircle
{
    background-color: #009ACD;
}

#locationSubmitButton, #locationCancelButton
{
    padding: 2px 5px 2px 5px;
    background-color: #385E0F;
    color: #FFF;
    font-weight: bold;
}

#locationEditButton
{
    padding: 2px 5px 2px 5px;
    background-color: #385E0F;
    color: #FFF;
    margin: 5px 0px 0px 0px;
    font-weight: bold;
    float: right;
}

.infoSection
{
    margin-bottom: 15px;
}

.infoLabel
{
    font-weight: bold;
    margin-bottom: 3px;
}

.formLabel
{
    font-weight: bold;
}

#locationMembers
{
    clear: both;
}

.formInput
{
    width: 300px;
    background-color: #EEE;
    border: 2px solid #DDD;
    border-style: inset;
    margin-bottom: 10px;
}
