body {
    /*background: #FFE795;*/
    background: #C6BC98;
    text-align:center;
    font-family: "geneva";
}

.main {
    width: 960px;
    display: block;
    border: 2px solid #007BA7;
    border-radius: 10px;
    background: #F1DB85;
    padding: 0px 10px 20px 10px;
    margin: 0px auto;
    overflow: auto;
}

.button {
    border: 1px solid #007BA7;
    border-radius: 3px;
    background: #D18726;
    color: #FFFFFF;
    font-size: medium;
    padding: .5%;
}

.button:hover {
   background: #B16706;
   cursor: pointer;
}

.button2 {
    border: 1px solid #007BA7;
    border-radius: 3px;
    background: #F1DB85;
    color: #007BA7;
    font-size: medium;
    font-weight: normal;
    padding: .5%;
}

.button2:hover {
   background: #E1CA73;
   cursor: pointer;
}