*
{
    margin: 0px;
    padding: 0px;
}

.locationContainer
{
    border: solid black 1px;
    padding: 5px;
    height: 82px;
}

.locationImage
{
    height: 80px;
    width: 80px;
    border: solid black 1px;
    float: left;
}

.locationInfo
{
    float: left;
    margin-left: 10px;
}

.locationName
{
    margin-top: 10px;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
}
