{% extends "base.html" %}

{% block title %}
	<title>Inkle | Page Not Found</title>
{% endblock title %}

{% block mainContent %}
    <div id="mainContent" class="container_24">
        <div class="grid_24 alpha omega">
            <!-- Page title -->
            <div class="grid_24">
                <p class="pageTitle">Page Not Found</p>
            </div>
            <div class="clear"></div>

            <div id="404Content" class="grid_24">
                <p>It seems this page is out on the town. To find what it's doing - and what all your friends are doing - head to the <a href="/" style="color: #1B5898;">Inkle home page</a>.</p>
            </div>
       </div>
    </div>
{% endblock mainContent%}
