{% extends "base.html" %}

{% block title %}
	<title>Inkle | Page Unavailable</title>
{% endblock title %}

{% block mainContent %}
    <div id="mainContent" class="container_24">
        <div class="grid_24 alpha omega">
            <!-- Page title -->
            <div class="grid_24">
                <p class="pageTitle">Page unvailable</p>
            </div>
            <div class="clear"></div>

            <div id="500Content" class="grid_24">
                <p>Sorry, but the requested page you requested is unavailable due to a server hiccup. The Inkle team has been notified of the problem and is working hard to fix it. Please check back soon!</p>
            </div>
       </div>
    </div>
{% endblock mainContent%}
