{% extends "base.html" %}

{% block title %}
	<title>Inkle | Account created</title>
{% endblock title %}
	
{% block css %}
{% endblock css %}

{% block js %}
{% endblock js %}

{% block mainContent %}
    <div id="mainContent" class="container_24">
        <div class="grid_24" style="text-align: center;">
            <p>You account has been created and an email has been sent to {{ email }}. Click the link on that email to verify your email address so that you can start using Inkle!</p>
        </div>
{% endblock mainContent %}
