<!-- Calendar -->
<div id="calendar">
    <!-- Left button -->
    <div id="calendarArrowLeft" class="calendarArrow">
        <img class="calendarArrowImg" src="{{ STATIC_URL }}/media/images/main/leftArrow.png" />
    </div>
    <!-- Date Icons -->
    {% for d in dates %}
        <div id="date{{forloop.counter}}" class="dateContainer" day="{{ d|date:"j" }}" month="{{ d|date:"n" }}" year="{{ d|date:"Y" }}" date="{{d|date}}">
            <p class="weekday">{{ d|date:"l" }}</p>
            <p class="date">{{ d|date:"j" }}</p>
            <p class="month">{{ d|date:"F" }}</p>
        </div>
    {% endfor %}
    <!-- Right button -->
    <div id="calendarArrowRight" class="calendarArrow">
        <img class="calendarArrowImg" src="{{ STATIC_URL }}/media/images/main/rightArrow.png" />
    </div>
    <!-- Hidden dateContainer for selected date -->
    <div class="grid_3" style="display:none;" >
        <div id="selectedDate" class="dateContainer" day="{{ selectedDate|date:"j" }}" month="{{ selectedDate|date:"n" }}" year="{{ selectedDate|date:"Y" }}" date="{{selectedDate|date}}">
        </div>
    </div>
    
</div>
