<div class="grid_17 alpha omega">
    <!-- Accepted circle -->
    <div class="circle selectedCircle" circleID="-1"><p>Accepted</p></div>

    <!-- User-created circles -->
    {% for circle in member.circles.all %}
        <div class="circle" circleID="{{ circle.id }}"><p>{{ circle.name }}</p></div>
    {% endfor %}

    <!-- New circle -->
    <div id="newCircle" class="circle"><input id="newCircleInput" type="text" /></div>
    
    <!-- Create circle button -->
    <div id="createCircleButton"><p>+</p></div>
    
    <!-- Circle content -->
    <div id="circleContent">
        <div id="circleMembers">
            {% for m in members %}
                {% include "memberCard.html" %}
            {% empty %}
                <p>There is no one in this circle.</p>
            {% endfor %}
        </div>
    </div>
</div>
