<div id="deactivateAccountContainer">
    <!-- Deactivate account message -->
    <p style="margin-bottom: 15px;">Click the button below the deactivate your account.</p>

    <!-- Deactivate account button -->
    <button id="deactivateAccountButton">Deactivate Account</button>
</div>

<div id="confirmDeactivateAccountContainer">
    <!-- Confirm deactivate account message -->
    <p style="margin-bottom: 15px;">Are you sure you want to deactivate your account?</p>
    <p style="margin-bottom: 15px;">Note that this is permanent! If you click the button below, you will be logged out immediately and you will never be able to log back in.</p>

    <!-- Confirm deactivate account button -->
    <button id="confirmDeactivateAccountButton">Deactivate Account</button>
</div>

<div id="accountDeactivatedContainer">
    <!-- Confirm deactivate account message -->
    <p>Your account has been deactivated.</p>
</div>
