<div id="deactivateAccountContent">
    <!-- Deactivate account message -->
    <p style="margin-bottom: 15px;">Confirm your password and click the button below the deactivate your account. Note that this is permanent!</p>

    <!--  Errors -->
    {% if invalid.errors %}
        <div class="errors">
            {% for error in invalid.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Deactivate account form -->
    <table id="deactivateAccountForm">
        <!-- Old password -->
        <tr>
            <th><label for="password">Password:</label></th>
            <td><input id="password" {% if invalid.password %}class="invalid"{% endif %} type="password" maxlength="100" value="{{ data.password }}" /></td>
        </tr>
    </table>

    <!-- Deactivate account button -->
    <button id="deactivateAccountButton">Deactivate Account</button>
</div>

<div id="confirmDeactivateAccountContent">
    <!-- Confirm deactivate account message -->
    <p style="margin-bottom: 15px;">Are you sure you want to deactivate your account?</p>
    <p>Note that this is permanent! If you click the button below, you will be logged out immediately and you will never be able to log back in.</p>

    <!-- Confirm deactivate account button -->
    <button id="confirmDeactivateAccountButton">Deactivate Account</button>
</div>

<div id="deactivateAccountConfirmation">
    <!-- Confirm deactivate account message -->
    <p>Your account has been deactivated.</p>
</div>
