<div id="deactivateAccountContainer">
    <!-- Deactivate account message -->
    <p style="margin-bottom: 15px;">Confirm your password and click the button below the deactivate your account.</p>

    <!-- Deactivate account form -->
    <table id="deactivateAccountForm">
        <!-- Old password -->
        <tr>
            <th><label for="password">Password:</label></th>
            <td><input id="password" {% if invalidPassword %}class="invalid"{% endif %} type="password" maxlength="100" value="{{ password }}" /></td>
        </tr>
    </table>

    <!-- Deactivate account button -->
    <button id="deactivateAccountButton">Deactivate Account</button>
</div>

<div id="confirmDeactivateAccountContainer">
    <!-- Confirm deactivate account message -->
    <p style="margin-bottom: 15px;">Are you sure you want to deactivate your account?</p>
    <p>Note that this is permanent! If you click the button below, you will be logged out immediately and you will never be able to log back in.</p>

    <!-- Confirm deactivate account button -->
    <button id="confirmDeactivateAccountButton">Deactivate Account</button>
</div>

<div id="accountDeactivatedContainer">
    <!-- Confirm deactivate account message -->
    <p>Your account has been deactivated.</p>
</div>
