{% load days months years states from extraTags %}

<div id="editProfileInformationContent">
    <!-- Edit profile information message -->
    <p style="margin-bottom: 15px;">Edit your profile information using the form below.</p>

    <!-- Edit profile information form -->
    <table id="editProfileInformationForm">
        <!-- First name -->
        <tr>
            <th><label for="firstName">First name:</label></th>
            <td><input id="firstName" {% if invalidFirstName %}class="invalid"{% endif %} maxlength="30" value="{{ firstName }}" /></td>
        </tr>

        <!-- Last name -->
        <tr>
            <th><label for="lastName">Last name:</label></th>
            <td><input id="lastName" {% if invalidLastName %}class="invalid"{% endif %} maxlength="30" value="{{ lastName }}" /></td>
        </tr>

        <!-- Phone -->
        <tr>
            <th><label for="phone1">Phone:</label></th>
            <td>
                (<input id="phone1" class="phoneInput {% if invalidPhone1 %}invalid{% endif %}" maxlength="3" value="{{ phone1 }}" />) 
                <input id="phone2" class="phoneInput {% if invalidPhone2 %}invalid{% endif %}" maxlength="3" value="{{ phone2 }}" /> - 
                <input id="phone3" class="phoneInput {% if invalidPhone3 %}invalid{% endif %}" maxlength="4" value="{{ phone3 }}" />
            </td>
        </tr>

        <!-- City -->
        <tr>
            <th><label for="city">City:</label></th>
            <td><input id="city" {% if invalidCity %}class="invalid"{% endif %} maxlength="50" value="{{ city }}" /></td>
        </tr>

        <!-- State -->
        <tr>
            <th><label for="state">State:</label></th>
            <td>
                <select id="state" {% if invalidState %}class="invalid"{% endif %}>
                    <option value="" {% if state == "" %}selected="selected"{% endif %}>State</option>
                    {% for s, abbreviation in null|states %}
                        <option value="{{ abbreviation }}" {% if state == abbreviation %}selected="selected"{% endif %}>{{ s }} ({{ abbreviation }})</option>
                    {% endfor %}
                </select>
            </td>
        </tr>

        <!-- Zip code -->
        <tr>
            <th><label for="zipCode">Zip code:</label></th>
            <td><input id="zipCode" {% if invalidZipCode %}class="invalid"{% endif %} maxlength="5" value="{{ zipCode }}" /></td>
        </tr>

        <!-- Birthday -->
        <tr>
            <th><label for="month">Birthday:</label></th>
            <td>
                <!-- Birthday month -->
                <select id="month" class="birthdaySelect {% if invalidMonth %}invalid{% endif %}">
                    <option value="" {% if not month %}selected{% endif %}>Month</option>
                    {% for m, abbreviation in null|months %}
                        <option value="{{ forloop.counter }}" {% if month == forloop.counter %}selected{% endif %}>{{ abbreviation }}</option>
                    {% endfor %}
                </select>

                <!-- Birthday day -->
                <select id="day" class="birthdaySelect {% if invalidDay %}invalid{% endif %}" day="{{ day }}">
                    <option value="" {% if not day %}selected{% endif %}>Day</option>
                    {% for d in month|days:year %}
                        <option value="{{ d }}" {% if d == day %}selected{% endif %}>{{ d }}</option>
                    {% endfor %}
                </select>

                <!-- Birthday year -->
                <select id="year" class="birthdaySelect {% if invalidYear %}invalid{% endif %}" year="{{ year }}">
                    <option value="" {% if not year %}selected{% endif %}>Year</option>
                    {% for y in 100|years %}
                        <option value="{{ y }}" {% if y == year %}selected{% endif %}>{{ y }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>

        <!-- Gender -->
        <tr>
            <th><label for="gender">Gender:</label></th>
            <td>
                <select id="gender" {% if invalidGender %}class="invalid"{% endif %}>
                    <option value="" {% if gender == "" %}selected{% endif %}>Gender</option>
                    <option value="Male" {% if gender == "Male" %}selected="selected"{% endif %}>Male</option>
                    <option value="Female" {% if gender == "Female" %}selected="selected"{% endif %}>Female</option>
                </select>
            </td>
        </tr>
    </table>

    <!-- Edit profile information button -->
    <button id="editProfileInformationButton">Edit profile information</button>
</div>

<!-- Edit profile information confirmation -->
<div id="editProfileInformationConfirmation">
    <p>Your profile information has been updated.</p>
</div>
