<div id="editProfileEmailPreferencesContent">
    <!-- Edit profile email preferences message -->
    <p style="margin-bottom: 15px;">Inkle can send you emails when certain things happen. You can use this form to easily subscribe or unsubscribe from these emails.</p>

    <!-- Edit profile email preferences form -->
    <table id="editProfileEmailPreferencesForm">
        <!-- Requested -->
        <tr>
            <th><input id="requestedPreference" type="checkbox" {% if member.requested_email_preference %}checked{% endif %}></th>
            <td><label for="requestedPreference">Email me when someone requests to follow me</label></td>
        </tr>

        <!-- Accepted -->
        <tr>
            <th><input id="acceptedPreference" type="checkbox" {% if member.accepted_email_preference %}checked{% endif %}></th>
            <td><label for="acceptedPreference">Email me when someone accepts my request to follow them</label></td>
        </tr>
        
        <!-- Invited -->
        <tr>
            <th><input id="invitedPreference" type="checkbox" {% if member.invited_email_preference %}checked{% endif %}></th>
            <td><label for="invitedPreference">Email me when someone invites me to an inkling</label></td>
        </tr>

        <!-- General -->
        <tr>
            <th><input id="generalPreference" type="checkbox" {% if member.general_email_preference %}checked{% endif %}></th>
            <td><label for="generalPreference">Email me with updates on Inkle's news and features</label></td>
        </tr>
    </table>

    <!-- Edit profile email preferences button -->
    <button id="editProfileEmailPreferencesButton">Edit email preferences</button>
</div>

<div id="editProfileEmailPreferencesConfirmation">
    <p>Your email preferences have been updated.</p>
</div>
