<div id="editProfilePrivacyContent">
    <!-- Edit profile privacy message -->
    <p style="margin-bottom: 15px; text-align: justify;">Inkle makes it easy to control who can see your information. There are four levels of privacy you can select. The lowest level of privacy ("Everyone") allows anyone on Inkle access to your information. The next level ("Followers and Following") enables only people you have allowed to follow you or whom you are following to view your information. The third level of privacy ("Followers") hides your information from everyone except those who you have explicitly permitted to follow you. The highest level of privacy ("No one") only allows you to see your information. For details about each privacy option below, hover over its label.</p>

    <!-- Edit profile privacy form -->
    <table id="editProfilePrivacyForm">
        <!-- Name -->
        <tr>
            <th><label for="namePrivacy" title="Ability to see your full name">Name:</label></th>
            <td>
                <select id="namePrivacy">
                    <option value="0" selected>Everyone</option>
                </select>
            </td>
        </tr>

        <!-- Picture -->
        <tr>
            <th><label for="picturePrivacy" title="Ability to see your profile picture">Picture:</label></th>
            <td>
                <select id="picturePrivacy">
                    <option value="0" selected>Everyone</option>
                </select>
            </td>
        </tr>

        <!-- Gender -->
        <tr>
            <th><label for="genderPrivacy" title="Ability to see your gender">Gender:</label></th>
            <td>
                <select id="genderPrivacy">
                    <option value="0" selected>Everyone</option>
                </select>
            </td>
        </tr>

        <!-- Email -->
        <tr>
            <th><label for="emailPrivacy" title="Ability to see your email address">Email:</label></th>
            <td>
                <select id="emailPrivacy">
                    <option value="0" {% if member.email_privacy == 0 %}selected{% endif %}>Everyone</option>
                    <option value="1" {% if member.email_privacy == 1 %}selected{% endif %}>Followers and Following</option>
                    <option value="2" {% if member.email_privacy == 2 %}selected{% endif %}>Followers</option>
                    <option value="3" {% if member.email_privacy == 3 %}selected{% endif %}>No one</option>
                </select>
            </td>
        </tr>

        <!-- Phone -->
        <tr>
            <th><label for="phonePrivacy" title="Ability to see your phone number">Phone:</label></th>
            <td>
                <select id="phonePrivacy">
                    <option value="0" {% if member.phone_privacy == 0 %}selected{% endif %}>Everyone</option>
                    <option value="1" {% if member.phone_privacy == 1 %}selected{% endif %}>Followers and Following</option>
                    <option value="2" {% if member.phone_privacy == 2 %}selected{% endif %}>Followers</option>
                    <option value="3" {% if member.phone_privacy == 3 %}selected{% endif %}>No one</option>
                </select>
            </td>
        </tr>

        <!-- Location -->
        <tr>
            <th><label for="locationPrivacy" title="Ability to see your full address">Location:</label></th>
            <td>
                <select id="locationPrivacy">
                    <option value="0" {% if member.location_privacy == 0 %}selected{% endif %}>Everyone</option>
                    <option value="1" {% if member.location_privacy == 1 %}selected{% endif %}>Followers and Following</option>
                    <option value="2" {% if member.location_privacy == 2 %}selected{% endif %}>Followers</option>
                    <option value="3" {% if member.location_privacy == 3 %}selected{% endif %}>No one</option>
                </select>
            </td>
        </tr>

        <!-- Birthday -->
        <tr>
            <th><label for="birthdayPrivacy" title="Ability to see your birthday and as a result, your age">Birthday:</label></th>
            <td>
                <select id="birthdayPrivacy">
                    <option value="0" {% if member.birthday_privacy == 0 %}selected{% endif %}>Everyone</option>
                    <option value="1" {% if member.birthday_privacy == 1 %}selected{% endif %}>Followers and Following</option>
                    <option value="2" {% if member.birthday_privacy == 2 %}selected{% endif %}>Followers</option>
                    <option value="3" {% if member.birthday_privacy == 3 %}selected{% endif %}>No one</option>
                </select>
            </td>
        </tr>

        <!-- Followers -->
        <tr>
            <th><label for="followersPrivacy" title="Ability to see who is following you">Followers:</label></th>
            <td>
                <select id="followersPrivacy">
                    <option value="0" {% if member.followers_privacy == 0 %}selected{% endif %}>Everyone</option>
                    <option value="1" {% if member.followers_privacy == 1 %}selected{% endif %}>Followers and Following</option>
                    <option value="2" {% if member.followers_privacy == 2 %}selected{% endif %}>Followers</option>
                </select>
            </td>
        </tr>

        <!-- Followings -->
        <tr>
            <th><label for="followingsPrivacy" title="Ability to see who you are following">Followings:</label></th>
            <td>
                <select id="followingsPrivacy">
                    <option value="0" {% if member.followings_privacy == 0 %}selected{% endif %}>Everyone</option>
                    <option value="1" {% if member.followings_privacy == 1 %}selected{% endif %}>Followers and Following</option>
                    <option value="2" {% if member.followings_privacy == 2 %}selected{% endif %}>Followers</option>
                </select>
            </td>
        </tr>

        <!-- Networks -->
        <tr>
            <th><label for="networksPrivacy" title="Ability to see which networks you belong to">Networks:</label></th>
            <td>
                <select id="networksPrivacy">
                    <option value="0" {% if member.networks_privacy == 0 %}selected{% endif %}>Everyone</option>
                    <option value="1" {% if member.networks_privacy == 1 %}selected{% endif %}>Followers and Following</option>
                    <option value="2" {% if member.networks_privacy == 2 %}selected{% endif %}>Followers</option>
                </select>
            </td>
        </tr>
        
        <!-- Place -->
        <tr>
            <th><label for="placePrivacy" title="Ability to see who has inkled to your place">Place:</label></th>
            <td>
                <select id="placePrivacy">
                    <option value="0" {% if member.place_privacy == 0 %}selected{% endif %}>Everyone</option>
                    <option value="1" {% if member.place_privacy == 1 %}selected{% endif %}>Followers and Following</option>
                    <option value="2" {% if member.place_privacy == 2 %}selected{% endif %}>Followers</option>
                </select>
            </td>
        </tr>

        <!-- Inklings -->
        <tr>
            <th><label for="inklingsPrivacy" title="Abiity to see your inklings">Inklings:</label></th>
            <td>
                <select id="inklingsPrivacy">
                    <option value="0" {% if member.inklings_privacy == 0 %}selected{% endif %}>Everyone</option>
                    <option value="1" {% if member.inklings_privacy == 1 %}selected{% endif %}>Followers and Following</option>
                    <option value="2" {% if member.inklings_privacy == 2 %}selected{% endif %}>Followers</option>
                </select>
            </td>
        </tr>
    </table>
    
    <!-- Edit profile privacy button -->
    <button id="editProfilePrivacyButton">Edit profile privacy</button>
</div>

<div id="editProfilePrivacyConfirmation">
    <p>Your privacy settings have been updated.</p>
</div>
