{% extends "base.html" %}

{% block title %}
	<title>Inkle | Forgotten password</title>
{% endblock title %}
	
{% block css %}
{% endblock css %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}/js/forgottenPassword.js"></script>
{% endblock js %}

{% block mainContent %}
    <div id="mainContent" class="container_24">
        <div class="grid_24" style="text-align: center;">
            <p>Forgot your password? No worries! Just give us your email and we will send you an email with a link to reset your password.</p>
            <input id="email" type="text" value="" />
            <br / >
            <button id="submitButton">Submit</button>
        </div>
{% endblock mainContent %}
