{% extends "base.html" %}

{% block title %}
	<title>Inkle | Getting Started</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/gettingStarted.css" />
{% endblock css%}

{% block mainContent %}
    <div id="mainContent" class="container_24">
        <div class="grid_24 alpha omega">
            <!-- Page title -->
            <div class="grid_24">
                <p class="pageTitle">Getting Started</p>
            </div>
            <div class="clear"></div>

            <div id="gettingStartedContent" class="grid_24">
                <p>Welcome to Inkle! Here are some suggestions to get you started on Inkle and to help you redefine how you plan your nights:</p>
            
                <ol>
                    <li><a href="/editProfile/information/">Update your profile information</a> to help your friends find you.</li>
                    <li>Request to follow your friends by searching for them at the top of any page. If your friends aren't using Inkle yet, use the link at the bottom of any page to tell them about it.</li>
                    <li>Once your friends have accepted your request, <a href="/manage/blots/">group them into blots</a> (e.g. "Best Friends", "Dormmates", or "London Buddies").</li>
                    <li>Join networks that you associate with by searching for them at the top of any page (e.g. "University of Notre Dame").</li>
                    <li>See where people in your blots or networks are going or share where you will be headed by setting your own inklings from the <a href="/">home page</a>.
                    <li>If you still have questions, check out the <a href="/help/">help section</a> or <a href="/contact/">contact us</a>.</li>
                </ol>
            </div>
       </div>
    </div>
{% endblock mainContent%}
