<div id="header">
    <div class="container_24">
        <!-- Logo -->
        <div class="grid_5 suffix_1">
            <a id="logoLink" href="/"><img id="logo" src="{{ STATIC_URL }}/media/images/main/inkleLogo.png" /></a>
        </div>
        
        {% if member %}
            <!-- Search bar -->
            <div id="headerSearch" class="grid_11">
                <input id="headerSearchInput" type="text" />
                <img id="headerSearchButton" src="{{ STATIC_URL }}/media/images/main/searchButton.png" />
                <div id="headerSearchSuggestions" class="suggestions"></div>
            </div>

            <!-- Notifications -->
            <div class="grid_1 push_1">
                {% if member.requested.all|length %}
                    <a id="requestNotificationLink" href="/manage/requests/"><div id="requestNotification">{{ member.requested.all|length }}</div></a>
                {% else %}
                    <p class="grid_1">&nbsp;</p>
                {% endif %}
            </div>

            <!-- Member name / logout -->
            <div class="grid_5 push_1">
                <div id="username">
                    <a href="/manage/circles/">{{ member.first_name }} {{ member.last_name }}</a>
                </div>
                <div id="logout">
                    <a href="/logout/">Logout</a>
                </div>
            </div>
        {% endif %}
    </div>
</div>
