<p>
    Circles allow you to easily group together the people you are following. You can get to your circles by clicking your name in the right-hand side of the header. Your default circle is called “Accepted” and it contains all the people you are following who are not in any of your other circles. Once you move someone to a circle, they are removed from your “Accepted” circle. If you remove someone from all of your other circles, they are automatically placed back in your “Accepted” circle.
</p>
<p>
    To create a new circle simply click the small circle with the “+” sign and type in a circle name. To rename any circle, other than the “Accepted” circle, double click on it and type in a new name. To delete a circle, click on the circle you wish to delete and then click the “Delete this circle” which appears.
</p>
<p>
    There are two ways to add people to a circle. The first is to use the “Circle” button on their member card. Click on their “Circle” button and check the circles to which you would like to add the current member. The other way to add people to a circle is to use the “Add people to this circle” search box. Within any circle, other than the “Accepted” circle, type in the person’s name into the search box and use the keyboard or mouse to select their name and add them to the current circle. You are allowed to put the same person in as many circles as you would like.
<p>
    Circles are useful when you want to organize the people you are following in to different groups. For example, you can create a circle for people who live in your dorm or for those you go to trivia with or for any other possible grouping. Creating groups makes the home page even more powerful by allowing you to only view the inklings of a certain subset of the people you are following.
</p>
