<p>
    Inkle helps you plan your nights with your friends and find where the big event is going on! Every user has three daily inklings: dinner, pregame, and main event. By setting your inklings, you alert your followers where you are going to be for each of the categories. If you want to see where other people are going out, you need to request to follow them. Once you are following some people (which we call your followings), you can create circles to group them. You can also join larger collections of people called spheres.
</p>
