<p>
    Inkle helps you plan your nights with friends and makes it easy to find out where the big event is happening. Each day, a user can set three different inklings: dinner, pregame, and main event. By setting your inklings, you share where you are going to be with your followers. To see where other people are going out, you must request to follow them. You can then categorize the people you are following in groups called blots. You can also join larger collections of people called networks. Use the links on this help page to find out more about Inkle's different features.
</p>
