<p>
    You can request to follow any other user on Inkle, thus allowing you to see their profile information and view their inklings. Following someone on Inkle is a one-way relationship, meaning that you can follow someone without them following you back, or vice versa. To request to follow someone, search for their name in the header search box and click the “Request to follow” button on either their member card or profile page. They will receive a notification that you have requested to follow them. If they accept your invitation, you will now be following them.
</p>
