{% extends "base.html" %}

{% block title %}
	<title>Inkle | Home</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/home.css" />
{% endblock css%}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}/js/home.js"></script>
{% endblock js %}

{% block mainContent %}
    <div id="mainContent" class="container_24">
        <!-- Calendar -->
        <div id="calendar" class="grid_3">
            <!-- Up button -->
            <div id="calendarArrowUp" class="grid_3 calendarArrow">
                <img class="calendarArrowImg" src="{{ STATIC_URL }}/media/images/main/upArrow.png" />
            </div>
            <div class="grid_3">
                <div id="today" class="dateContainer selectedDateContainer" date="{{ today|date:"j" }}" month="{{ today|date:"n" }}" year="{{ today|date:"Y" }}">
                    <p class="weekday">{{ today|date:"l" }}</p>
                    <p class="date">{{ today|date:"j" }}</p>
                    <p class="month">{{ today|date:"F" }}</p>
                </div>
            </div>
            <div class="grid_3">
                <div id="tomorrow" class="dateContainer" date="{{ tomorrow|date:"j" }}" month="{{ tomorrow|date:"n" }}" year="{{ tomorrow|date:"Y" }}">
                    <p class="weekday">{{ tomorrow|date:"l" }}</p>
                    <p class="date">{{ tomorrow|date:"j" }}</p>
                    <p class="month">{{ tomorrow|date:"F" }}</p>
                </div>
            </div>
            <div class="grid_3">
                <div id="dayAfterTomorrow" class="dateContainer" date="{{ dayAfterTomorrow|date:"j" }}" month="{{ dayAfterTomorrow|date:"n" }}" year="{{ dayAfterTomorrow|date:"Y" }}">
                    <p class="weekday">{{ dayAfterTomorrow|date:"l" }}</p>
                    <p class="date">{{ dayAfterTomorrow|date:"j" }}</p>
                    <p class="month">{{ dayAfterTomorrow|date:"F" }}</p>
                </div>
            </div>
            <!-- Down button -->
            <div id="calendarArrowDown" class="grid_3 calendarArrow">
                <img class="calendarArrowImg" src="{{ STATIC_URL }}/media/images/main/downArrow.png" />
            </div>
        </div>

        <!-- My inklings -->
        <div class="grid_20 push_1">
            <!-- Member name -->
            <div class="grid_20">
                <p class="pageTitle">Inklings</p>
            </div>
            <div class="clear"></div>

            <!-- Content links -->
            <div id="inklingsContentLinks" class="contentLinks grid_20">
                <p class="selectedContentLink" contentType="othersInklings">Others'</p>
                <p contentType="myInklings">Mine</p>
            </div>
            <div class="clear"></div>
            
            <!-- Others' inklings -->
            <div id="homeContent" class="grid_20">
                {% include "othersInklings.html" %}
            </div>
        </div>
    </div>
{% endblock mainContent%}
