{% extends "base.html" %}

{% block title %}
	<title>Inkle | Home</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/home.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/calendar.css" />
{% endblock css%}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}/js/calendar.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/home.js"></script>
{% endblock js %}

{% block mainContent %}
    <div id="mainContent" class="container_24">
        <!-- My inklings -->
        <div class="grid_24 push_1">
            <!-- Member name -->
            <div class="grid_24">
                <p class="pageTitle">Inklings</p>
            </div>
            <div class="clear"></div>
            <!-- Content links -->
            <div id="inklingsContentLinks" class="contentLinks grid_24">
                <p class="selectedContentLink" contentType="othersInklings">Others'</p>
                <p contentType="myInklings">Mine</p>
            </div>
            <div class="clear"></div>
            <div id="calendarContainer" class="grid_24">
                {% include "calendar.html" %}
            </div>
            <div class="clear"></div>
            <!-- Others' inklings -->
            <div id="homeContent" class="grid_24">
                {% include "othersInklings.html" %}
            </div>
        </div>
    </div>
{% endblock mainContent%}
