{% load truncate_characters from extraTags %}

{% for category, categoryTitle in categories %}
    {% for suggestion in category %}
        <div class="suggestion" suggestionID="{{ suggestion.id }}" suggestionType="{{ category.suggestionType }}">
            <img src="{{ STATIC_URL }}/media/images/{{ category.suggestionType }}/{{ suggestion.id }}.jpg" />
            <div>
                {% if suggestion == member %}
                    <p>{{ member.first_name}} {{ member.last_name}}'s Place</p>
                    <p class="cityState">{{ suggestion.city }}, {{ suggestion.state }}</p>
                {% else %}
                    <p>{{ suggestion.name|truncate_characters:numChars }}</p>
                    <p class="cityState">{{ suggestion.city }}, {{ suggestion.state }}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% empty %}
    <!-- No suggestions -->
    <div id="noSuggestions">No results</div>
{% endfor %}
