{% extends "base.html" %}

{% block title %}
	<title>Inkle | Location | {{ location.name }}</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/location.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/memberCard.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/calendar.css" />
{% endblock css %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}/js/location.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/memberCard.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/calendar.js"></script>
{% endblock js %}

{% block mainContent %}
    <div id="mainContent" class="container_24">
        <!-- Location info -->
        <div class="grid_6">
            <!-- Location image -->
            <img id="locationImage" src="{{ STATIC_URL }}/media/images/locations/{{ location.image }}" image="{{ location.image }}" />

            <div id="locationInfo">
                {% include "locationInfo.html" %}
            </div>
        </div>
        <!-- Location inklings members -->
        <div class="grid_15 push_1 alpha omega">
            <!-- Location name -->
            <div class="grid_15">
                <p id="locationName" class="pageTitle">{{ location.name }}</p>
            </div>
            <div class="clear"></div>
                
            <!-- Location inklings content links -->
            <div id="locationInklingsContentLinks" class="contentLinks grid_15">
                <p class="selectedContentLink" contentType="all">All</p>
                <p contentType="dinner">Dinner</p>
                <p contentType="pregame">Pregame</p>
                <p contentType="mainEvent">Main event</p>
            </div>
            <div class="clear"></div>

            <!-- Today button -->
            <div class="grid_3 push_12 buttonContainer">
                <input id="todayButton" type="submit" name="submit" value="Today" />
            </div>
            <div class="clear"></div>
            <!-- Calendar -->
            <div id="calendarContainer" class="grid_14 push_2 omega">
                {% include "calendar.html" %}
            </div>
            <div class="clear"></div>

            <!-- Location inklings content -->
            <div id="locationInklingsContent" class="peopleContent grid_15" context="location">
                {% include "locationInklings.html" %}
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock mainContent%}
