<div class="grid_20 alpha omega">
    <div class="locationBoardCard">
        <!-- Location count -->
        <div class="locationBoardCardCount grid_4 alpha">
            <img src="{{ STATIC_URL }}/media/images/main/blotblue.png"/>
            <div class="text">
                <p>{{ location.count }}89</p>
            </div>
        </div>
        
        <!-- Location name and city -->
        <div class="grid_15 alpha omega">
            <a class="locationBoardCardName" href="{{ location.get_absolute_url }}/">{{ location.name }}</a>
            <div class="locationBoardCardCity">{{ location.city }}, {{ location.state }}</div>
        </div>
    </div>
</div>
