<!-- Dinner inkling members -->
    <div id="dinnerContent" class="inklingContent" style="display:none;"> <!--Required content will load via javascript -->
        <p class="subsectionTitle">Dinner</p>
        {% for m in member.dinner_members %}
            {% include "memberCard.html" %}
        {% endfor %}
        {% if member.dinner_members %}
            <p>There {% if member.num_dinner_others == 1 %}is{% else %}are{% endif %} {{ member.num_dinner_others }} other member{{ member.num_dinner_others|pluralize }} attending this inkling.</p>
        {% else %}
            <p>There {% if member.num_dinner_others == 1 %}is{% else %}are{% endif %} {{ member.num_dinner_others }} member{{ member.num_dinner_others|pluralize }} attending this inkling.</p>
        {% endif %}
    </div>

    <!-- Pregame inkling members -->
    <div id="pregameContent" class="inklingContent" style="display:none;"> <!--Required content will load via javascript -->
        <p class="subsectionTitle">Pregame</p>
        {% for m in member.pregame_members %}
            {% include "memberCard.html" %}
        {% endfor %}
        {% if member.pregame_members %}
            <p>There {% if member.num_pregame_others == 1 %}is{% else %}are{% endif %} {{ member.num_pregame_others }} other member{{ member.num_pregame_others|pluralize }} attending this inkling.</p>
        {% else %}
            <p>There {% if member.num_pregame_others == 1 %}is{% else %}are{% endif %} {{ member.num_pregame_others }} member{{ member.num_pregame_others|pluralize }} attending this inkling.</p>
        {% endif %}
    </div>

    <!-- Main event inkling members -->
    <div id="mainEventContent" class="inklingContent" style="display:none;"> <!--Required content will load via javascript -->
        <p class="subsectionTitle">Main event</p>
        {% for m in member.main_event_members %}
            {% include "memberCard.html" %}
        {% endfor %}
        {% if member.main_event_members %}
            <p>There {% if member.num_main_event_others == 1 %}is{% else %}are{% endif %} {{ member.num_main_event_others }} other member{{ member.num_main_event_others|pluralize }} attending this inkling.</p>
        {% else %}
            <p>There {% if member.num_main_event_others == 1 %}is{% else %}are{% endif %} {{ member.num_main_event_others }} member{{ member.num_main_event_others|pluralize }} attending this inkling.</p>
        {% endif %}
    </div>