{% extends "base.html" %}

{% block title %}
	<title>Inkle | Location | {{ location.name }}</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/location.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/memberCard.css" />
{% endblock css %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}/js/location.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/memberCard.js"></script>
{% endblock js %}

{% block mainContent %}
    <div id="mainContent" class="container_24">
        <!-- Location info -->
        <div class="grid_6">
            <!-- Location image -->
            <img id="locationImage" src="{{ STATIC_URL }}/media/images/locations/{{ location.image }}" image="{{ location.image }}" />

            <div id="locationInfo">
                {% include "locationInfo.html" %}
            </div>
        </div>

        <!-- Location inklings members -->
        <div class="grid_17 push_1 alpha omega">
            <!-- Location name -->
            <div class="grid_17">
                <p id="locationName" class="pageTitle">{{ location.name }}</p>
            </div>
            <div class="clear"></div>
                
            <!-- Location inklings content links -->
            <div id="locationInklingsContentLinks" class="contentLinks grid_17">
                <p class="selectedContentLink" contentType="all">All</p>
                <p contentType="dinner">Dinner</p>
                <p contentType="pregame">Pregame</p>
                <p contentType="mainEvent">Main event</p>
            </div>
            <div class="clear"></div>

            <!-- Location inklings content -->
            <div id="locationInklingsContent" class="peopleContent grid_17" context="location">
                <!-- Dinner inkling members -->
                <div id="dinnerContent">
                    <p class="subsectionTitle">Dinner</p>
                    {% for m in member.dinner_members %}
                        {% include "memberCard.html" %}
                    {% empty %}
                        <p>None of the people you are following are going here for dinner.</p>
                    {% endfor %}
                    <p>There are {{ member.num_dinner_others }} other member{{ member.num_dinner_others|pluralize }} who you aren't following attending this inkling.</p>
                </div>

                <!-- Pregame inkling members -->
                <div id="pregameContent">
                    <p class="subsectionTitle">Pregame</p>
                    {% for m in member.pregame_members %}
                        {% include "memberCard.html" %}
                    {% empty %}
                        <p>None of the people you are following are going here for pregame.</p>
                    {% endfor %}
                    <p>There are {{ member.num_pregame_others }} other member{{ member.num_pregame_others|pluralize }} who you aren't following attending this inkling.</p>
                </div>

                <!-- Main event inkling members -->
                <div id="mainEventContent">
                    <p class="subsectionTitle">Main event</p>
                    {% for m in member.main_event_members %}
                        {% include "memberCard.html" %}
                    {% empty %}
                        <p>None of the people you are following are going here for the main event.</p>
                    {% endfor %}
                    <p>There are {{ member.num_main_event_others }} other member{{ member.num_main_event_others|pluralize }} who you aren't following attending this inkling.</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock mainContent%}
