<!-- Location card -->
<div class="grid_17 alpha omega">
    <div class="locationCard">
        <!-- Image -->
        <img src="{{ STATIC_URL }}/media/images/locations/{{ location.image }}" />
       
        <!-- Location info -->
        <div class="info">
            <div class="infoRow">
                <!-- Name -->
                <a class="cardName" href="{{ location.get_absolute_url }}">{{ location.name }}</a>
            
                <!-- Contact information -->
                <div class="contactInfo">
                    <!-- Phone -->
                    {% if location.phone and location.phone|length_is:"10" %}
                        <p>{{ location.get_formatted_phone }}</p>
                    {% endif %}
                    
                    <!-- Category -->
                    {% if location.category %}
                        <p>{{ location.category }}</p>
                    {% endif %}
                </div>
            </div>

            <!-- Address -->
            <div class="infoRow locationAddress">
                <p>{{ location.street }}</p>
                <p>{{ location.city }}, {{ location.state }} {{ location.zip_code }}</p>
            </div>

            <!-- Website -->
            <div class="infoRow">
                <a class="locationWebsite"href="{{ location.website }}">{{ location.website }}</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
