<!--  Errors -->
{% if loginInvalid.errors %}
    <div class="errors">
        {% for error in loginInvalid.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
{% endif %}

<!-- Login form -->
<form id="loginForm" action="/login/?next={{ next }}" method="POST">
    {% csrf_token %}

    <!-- Login form -->
    <table>
        <!-- Email -->
        <tr>
            <th><label for="loginEmail">Email:</label></th>
            <td><input id="loginEmail" class="{% if loginInvalid.email %}invalid{% endif %}" type="text" name="email" maxlength="50" value="{{ loginData.email }}" /></td>
        </tr>

        <!-- Password -->
        <tr>
            <th><label for="loginPassword">Password:</label></th>
            <td><input id="loginPassword" class="{% if loginInvalid.password %}invalid{% endif %}" type="password" name="password" maxlength="100" value="{{ loginData.password }}"/></td>
        </tr>
    </table>

    <!-- Forgotten password link -->
    <p id="requestPasswordReset">I forgot my password</p>

    <!-- Login button -->
    <div class="buttonContainer">
        <input id="loginButton" type="submit" name="submit" value="Login" />
    </div>
</form>
