{% extends "base.html" %}

{% block title %}
	<title>Inkle | Login or register</title>
{% endblock title %}
	
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/login.css" />
{% endblock css %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}/js/login.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/birthday.js"></script>
{% endblock js %}

{% block mainContent %}
    <div id="mainContent" class="container_24">
        <!-- Welcome (home left) -->
        <div class="grid_12 suffix_2">
            <p id="welcomeText">Inkle makes it easy to find out where the big event is happening tonight.</p>
            <img id="welcomeImage" src="http://dummyimage.com/450x250/BBB/fff.jpg&text=+" />
        </div>

        <!-- Login/registration (home right) -->
        <div class="grid_10">
            <!-- Content links -->
            <div id="loginContentLinks" class="contentLinks grid_10 alpha omega">
                <p {% if selectedContentLink == "login" %}class="selectedContentLink{% endif %}" contentType="login">Login</p>
                <p {% if selectedContentLink == "registration" %}class="selectedContentLink{% endif %}" contentType="registration">Register</p>
            </div> 
            <div class="clear"></div>

            <!-- Login content -->
            <div id="loginContent" {% if selectedContentLink == "registration" %}class="unselectedContent"{% endif %}>
                {% include "loginForm.html" %}
            </div>

            <!-- Registration content -->
            <div id="registrationContent" {% if selectedContentLink == "login" %}class="unselectedContent"{% endif %}>
                {% if registrationContent %}
                    {% if registrationContent == "verifyEmail" %}
                        {% include "verifyEmail.html" %}
                    {% endif %}
                {% else %}
                    {% include "registrationForm.html" %}
                {% endif %}
            </div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock mainContent %}

<!-- Footer -->
{% block footer %}
    <div id="footer">
        <div class="container_24">
            <p class="footerText">Inkle &copy; MMXII</p>
        </div>
    </div>
{% endblock footer %}
