<!-- Member location -->
{% if member.city and member.state and member.zip_code %}
    <div class="infoSection">
        <p class="infoLabel">Location:</p>
            <p><span id="manageCity">{{ member.city }}</span>, <span id="manageState">{{ member.state }}</span> <span id="manageZipCode">({{ member.zip_code }})</span></p>
    </div>
{% endif %}


<!-- Member email -->
{% if member.email %}
    <div class="infoSection">
        <p class="infoLabel">Email:</p>
        <a id="manageEmail">{{ member.email }}</a>
    </div>
{% endif %}

<!-- Member phone -->
{% if member.phone %}
    <div class="infoSection">
        <p class="infoLabel">Phone:</p>
        <p id="managePhone">{{ member.get_formatted_phone }}</p>
    </div>
{% endif %}

<!-- Member birthday -->
{% if member.birthday %}
    <div class="infoSection">
        <p class="infoLabel">Birthday:</p>
        <p id="manageBirthday">{{ member.birthday }}</p>
    </div>
{% endif %}

<!-- Member gender -->
{% if member.gender %}
    <div class="infoSection">
        <p class="infoLabel">Gender:</p>
        <p id="manageGender">{{ member.gender }}</p>
    </div>
{% endif %}
