{% load split from extraTags %}

<!-- Member card -->
<div class="grid_17 alpha omega">
    <div class="memberCard {{ m.people_type }}">
        <!-- Image -->
        <img src="{{ STATIC_URL }}/media/images/members/{{ m.id }}.jpg" />

        <!-- Member info -->
        <div class="info">
            <div class="infoRow">
                <!-- Name -->
                <a class="cardName" href="{{ m.get_absolute_url }}">{{ m.get_full_name }}</a>
                
                <!-- Contact information -->
                {% if m.privacy >= m.email_privacy or m.privacy >= m.phone_privacy %}
                    <div class="contactInfo">
                        <!-- Email -->
                        {% if m.email and m.privacy >= m.email_privacy %}
                            <p>{{ m.email }}</p>
                        {% endif %}

                        <!-- Phone -->
                        {% if m.phone and m.privacy >= m.email_privacy %}
                            <p>{{ m.get_formatted_phone }}</p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            <!-- Spheres -->
            <div class="memberSpheres infoRow">
                {% for sphere in m.spheres.all %}
                    {% if sphere != m.spheres.all|first %}
                        <span>&middot;</span>
                    {% endif %}
                    {% for word in sphere.name|split %}
                        <span>{{ word }}</span>
                    {% endfor %}
                {% endfor %}
            </div>

            <!-- Mutual followings -->
            {% if m != member %}
                <div class="infoRow">
                    <p class="mutualFollowings">{{ m.mutual_followings|length }} mutual following{{ m.mutual_followings|length|pluralize }}</p>
                </div>
            {% endif %}

            <!-- Button list -->
            <div class="infoRow">
                {% if m != member %}
                    {% for buttonClass, buttonText, toolTip in m.button_list %}
                        <button class="cardButton {{ buttonClass }}" memberID="{{ m.id }}" title="{{ toolTip }}">{{ buttonText }}</button>
                        {% if buttonClass == "circlesCardButton" %}
                            <div class="circlesMenu">
                                {% for circle in member.circles.all %}
                                    <div>
                                        <input id="m{{ m.id }}_c{{ circle.id }}" type="checkbox" {% if m in circle.members.all %}checked="checked"{% endif %} circleID="{{ circle.id }}" />
                                        <label for="m{{ m.id }}_c{{ circle.id }}">{{ circle.name }}</label>
                                    </div>
                                {% empty %}
                                    <div class="noCircles">You have no circles.</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
