{% load split from extraTags %}

<!-- Member card -->
<div id="member_{{ m.id }}" class="grid_17 alpha omega">
    <div class="memberCard {{ m.people_type }}">
        <!-- Image -->
        <img src="{{ STATIC_URL }}/media/images/members/{{ m.id }}.jpg" />

        <!-- Member info -->
        <div class="info">
            <div class="infoRow">
                <!-- Name -->
                <a class="cardName" href="{{ m.get_absolute_url }}">{{ m.get_full_name }}</a>
                
                <!-- Contact information -->
                {% if m.privacy >= m.email_privacy or m.privacy >= m.phone_privacy %}
                    <div class="contactInfo">
                        <!-- Email -->
                        {% if m.email and m.privacy >= m.email_privacy %}
                            <p>{{ m.email }}</p>
                        {% endif %}

                        <!-- Phone -->
                        {% if m.phone and m.privacy >= m.phone_privacy %}
                            <p>{{ m.get_formatted_phone }}</p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            <!-- Networks -->
            <div class="memberNetworks infoRow">
                {% if m.privacy >= m.networks_privacy %}
                    {% for network in m.networks.all %}
                        {% if network != m.networks.all|first %}
                            <span>&middot;</span>
                        {% endif %}
                        {% for word in network.name|split %}
                            <span>{{ word }}</span>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>

            <!-- Mutual followings -->
            {% if m != member %}
                <div class="infoRow">
                    <p class="mutualFollowings">{{ m.mutual_followings|length }} mutual following{{ m.mutual_followings|length|pluralize }}</p>
                </div>
            {% endif %}

            <!-- Button list -->
            <div class="infoRow">
                {% if m != member %}
                    {% for buttonClass, buttonText, toolTip in m.button_list %}
                        <button class="cardButton {{ buttonClass }}" memberID="{{ m.id }}" title="{{ toolTip }}">{{ buttonText }}</button>
                        {% if buttonClass == "blotsCardButton" %}
                            <div class="blotsMenu">
                                {% for blot in member.blots.all %}
                                    <div>
                                        <input id="m{{ m.id }}_c{{ blot.id }}" type="checkbox" {% if m in blot.members.all %}checked="checked"{% endif %} blotID="{{ blot.id }}" />
                                        <label for="m{{ m.id }}_c{{ blot.id }}">{{ blot.name }}</label>
                                    </div>
                                {% empty %}
                                    <div class="noBlots">You have no blots.</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
