<!-- Member location -->
{% if other_member.privacy >= other_member.location_privacy %}
    {% if other_member.city and other_member.state and other_member.zip_code %}
        <div class="infoSection">
            <p class="infoLabel">Location:</p>
                {% if other_member.street %}
                    <p><span id="memberStreet">{{ other_member.street }}</span><p>
                {% endif %}
                <p><span id="memberCity">{{ other_member.city }}</span>, <span id="memberState">{{ other_member.state }}</span> <span id="memberZipCode">{{ other_member.zip_code }}</span></p>
        </div>
    {% endif %}
{% endif %}


<!-- Member email -->
{% if other_member.privacy >= other_member.email_privacy %}
    {% if other_member.email %}
        <div class="infoSection">
            <p class="infoLabel">Email:</p>
            <a id="memberEmail">{{ other_member.email }}</a>
        </div>
    {% endif %}
{% endif %}

<!-- Member phone -->
{% if other_member.privacy >= other_member.phone_privacy %}
    {% if other_member.phone %}
        <div class="infoSection">
            <p class="infoLabel">Phone:</p>
            <p id="memberPhone">{{ other_member.get_formatted_phone }}</p>
        </div>
    {% endif %}
{% endif %}

<!-- Member birthday -->
{% if other_member.privacy >= other_member.birthday_privacy %}
    {% if other_member.birthday %}
        <div class="infoSection">
            <p class="infoLabel">Birthday:</p>
            <p id="memberBirthday">{{ other_member.birthday }}</p>
        </div>
    {% endif %}
{% endif %}

<!-- Member gender -->
{% if other_member.gender %}
    <div class="infoSection">
        <p class="infoLabel">Gender:</p>
        <p id="memberGender">{{ other_member.gender }}</p>
    </div>
{% endif %}

{% for buttonClass, buttonText, toolTip in other_member.button_list %}
    <button class="cardButton {{ buttonClass }}" memberID="{{ other_member.id }}" title="{{ toolTip }}" style="float: left; margin: 0px 1px 0px 0px;">{{ buttonText }}</button>
    {% if buttonClass == "circlesCardButton" %}
        <div class="circlesMenu">
            {% for circle in member.circles.all %}
                <div>
                    <input id="m{{ m.id }}_c{{ circle.id }}" type="checkbox" {% if m in circle.members.all %}checked="checked"{% endif %} circleID="{{ circle.id }}" />
                    <label for="m{{ m.id }}_c{{ circle.id }}">{{ circle.name }}</label>
                </div>
            {% empty %}
                <div class="noCircles">You have no circles.</div>
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}
