{% extends "base.html" %}

{% block title %}
	<title>Inkle | Member | {{ other_member.first_name }} {{ other_member.last_name }}</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/member.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/memberCard.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/networkCard.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/calendar.css" />
{% endblock css %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}/js/member.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/memberCard.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/networkCard.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/calendar.js"></script>
{% endblock js %}

{% block mainContent %}
    <div id="mainContent" class="container_24">
        <!-- Profile info -->
        <div class="grid_6">
            <!-- Profile image -->
            <img id="memberImage" src="{{ STATIC_URL }}/media/images/members/{{ other_member.id }}.jpg" />

            <div id="memberInfo">
                {% include "memberInfo.html" %}
            </div>
        </div>
        
        <div class="grid_17 push_1 alpha omega">
            <!-- Member name -->
            <div class="grid_17 alpha omega">
                <p id="memberName" class="pageTitle" memberId="{{ other_member.id }}">{{ other_member.first_name }} {{ other_member.last_name }}</p>
            </div>
            <div class="clear"></div>

            <!-- Member content links -->
            <div id="memberContentLinks" class="contentLinks grid_17 alpha omega">
                <p {% if content_type == "inklings" %}class="selectedContentLink"{% endif %} contentType="Inklings">Inklings</p>
                <p {% if content_type == "place" %}class="selectedContentLink"{% endif %} contentType="Place">Place</p>
                <p {% if content_type == "networks" %}class="selectedContentLink"{% endif %} contentType="Networks">Networks</p>
                <p {% if content_type == "following" %}class="selectedContentLink"{% endif %} contentType="Following">Following</p>
                <p {% if content_type == "followers" %}class="selectedContentLink"{% endif %} contentType="Followers">Followers</p>
            </div>
            <div class="clear"></div>
            
            <!-- Additional content links for viewing member place -->
            <div id="memberPlaceContentLinks" class="subsectionContentLinks grid_17" style="display: none;">
                <p {% if place_type == "all" %}class="selectedSubsectionContentLink"{% endif %} contentType="all">All</p>
                <p {% if place_type == "dinner" %}class="selectedSubsectionContentLink"{% endif %} contentType="dinner">Dinner</p>
                <p {% if place_type == "pregame" %}class="selectedSubsectionContentLink"{% endif %} contentType="pregame">Pregame</p>
                <p {% if place_type == "mainEvent" %}class="selectedSubsectionContentLink"{% endif %} contentType="mainEvent">Main Event</p>
            </div>
            <div class="clear"></div>
            
            <!-- Calendar -->
            <div id="calendarContainer" class="grid_17 alpha omega" style="display: none;">
                {% include "calendar.html" %}
            </div>
            <div class="clear"></div>
                
            <div id="memberContent" class="grid_17 alpha omega">
                <!-- Main manage content -->
                <div id="mainMemberContent" class="grid_17 alpha omega">
                </div>
            </div>
        </div>
    </div>
{% endblock mainContent%}
