<div id="myInklings" style="text-align: center;">
    <div style="display: inline-block;">
        <!-- Dinner inkling -->
        <div id="dinnerInkling" class="inkling" inklingType="dinner">
            <div>
                <p class="inklingTitle">Dinner</p>
                <img class="inklingImage" src="{{ STATIC_URL }}/media/images/locations/{{ member.dinner_location.id|default:"default" }}.jpg" />

                {% if not pastDate %}
                    <input type="text" location="{{ member.dinner_location.name|default:"" }}" />
                {% else %}
                    <p class="pastInklingText">{{ member.dinner_location.name|default:"" }}</p>
                {% endif %}
            </div>

            <div class="suggestions inklingSuggestions"></div>
        </div>

        <!-- Pregame inkling -->
        <div id="pregameInkling" class="inkling" inklingType="pregame">
            <div>
                <p class="inklingTitle">Pregame</p>
                <img class="inklingImage" src="{{ STATIC_URL }}/media/images/locations/{{ member.pregame_location.id|default:"default" }}.jpg" />

                {% if not pastDate %}
                    <input type="text" location="{{ member.pregame_location.name|default:"" }}" />
                {% else %}
                    <p class="pastInklingText">{{ member.pregame_location.name|default:"" }}</p>
                {% endif %}
            </div>

            <div class="suggestions inklingSuggestions"></div>
        </div>

        <!-- Main event inkling -->
        <div id="mainEventInkling" class="inkling" inklingType="mainEvent">
            <div>
                <p class="inklingTitle">Main Event</p>
                <img class="inklingImage" src="{{ STATIC_URL }}/media/images/locations/{{ member.main_event_location.id|default:"default" }}.jpg" />

                {% if not pastDate %}
                    <input type="text" location="{{ member.main_event_location.name|default:"" }}" />
                {% else %}
                    <p class="pastInklingText">{{ member.main_event_location.name|default:"" }}</p>
                {% endif %}
            </div>

            <div class="suggestions inklingSuggestions"></div>
        </div>
        <div class="clear"></div>
        
        <div id="dinnerInklingInvite" class="inklingInviteContainer" inklingID="{{ inkling.id }}">
            <div class="invited"></div>
            <input type="text" />
            <button class="button inklingInviteButton">Invite</button>
            <div class="suggestions inklingInviteSuggestions"></div>
        </div>

        <div id="pregameInklingInvite" class="inklingInviteContainer" inklingID="{{ inkling.id }}">
            <div class="invited"></div>
            <input type="text" />
            <button class="button inklingInviteButton">Invite</button>
            <div class="suggestions inklingInviteSuggestions"></div>
        </div>

        <div id="mainEventInklingInvite" class="inklingInviteContainer" inklingID="{{ inkling.id }}">
            <div class="invited"></div>
            <input type="text" />
            <button class="button inklingInviteButton">Invite</button>
            <div class="suggestions inklingInviteSuggestions"></div>
        </div>
    </div>
</div>
