<div id="myInklings" style="text-align: center;">
    <div style="display: inline-block;">
        <!-- Dinner inkling -->
        <div id="dinnerInkling" class="inkling" inklingType="dinner">
            <div>
                <p class="inklingTitle">Dinner</p>
                {% if not pastDate %}
                    {% if member.dinner_inkling.memberPlace %} <!-- Check inkling type (member or location) -->
                        <img class="inklingImage" src="{{ STATIC_URL }}/media/images/members/{{ member.dinner_inkling.memberPlace.id|default:"default" }}.jpg" />
                        <input type="text" location="{{ member.dinner_inkling.memberPlace.first_name }} {{ member.dinner_inkling.memberPlace.last_name }}'s Place" />
                    {% else %}
                        <img class="inklingImage" src="{{ STATIC_URL }}/media/images/locations/{{ member.dinner_inkling.location.id|default:"default" }}.jpg" />
                        <input type="text" location="{{ member.dinner_inkling.location.name|default:"" }}" />
                    {% endif %}
                {% else %}
                    {% if member.dinner_inkling.memberPlace %} <!-- Check inkling type (member or location) -->
                        <img class="inklingImage" src="{{ STATIC_URL }}/media/images/members/{{ member.dinner_inkling.memberPlace.id|default:"default" }}.jpg" />
                        <p class="pastInklingText">{{ member.dinner_inkling.memberPlace.first_name }} {{ member.dinner_inkling.memberPlace.last_name }}'s Place</p>
                    {% else %}
                        <img class="inklingImage" src="{{ STATIC_URL }}/media/images/locations/{{ member.dinner_inkling.location.id|default:"default" }}.jpg" />
                        <p class="pastInklingText">{{ member.dinner_inkling.location.name|default:"" }}</p>
                    {% endif %}
                {% endif %}
            </div>

            <div class="suggestions inklingSuggestions"></div>
        </div>

        <!-- Pregame inkling -->
        <div id="pregameInkling" class="inkling" inklingType="pregame">
            <div>
                <p class="inklingTitle">Pregame</p>
                {% if not pastDate %}
                    {% if member.pregame_inkling.memberPlace %} <!-- Check inkling type (member or location) -->
                        <img class="inklingImage" src="{{ STATIC_URL }}/media/images/members/{{ member.pregame_inkling.memberPlace.id|default:"default" }}.jpg" />
                        <input type="text" location="{{ member.pregame_inkling.memberPlace.first_name }} {{ member.pregame_inkling.memberPlace.last_name }}'s Place" />
                    {% else %}
                        <img class="inklingImage" src="{{ STATIC_URL }}/media/images/locations/{{ member.pregame_inkling.location.id|default:"default" }}.jpg" />
                        <input type="text" location="{{ member.pregame_inkling.location.name|default:"" }}" />
                    {% endif %}
                {% else %}
                    {% if member.pregame_inkling.memberPlace %} <!-- Check inkling type (member or location) -->
                        <img class="inklingImage" src="{{ STATIC_URL }}/media/images/members/{{ member.pregame_inkling.memberPlace.id|default:"default" }}.jpg" />
                        <p class="pastInklingText">{{ member.pregame_inkling.memberPlace.first_name }} {{ member.pregame_inkling.memberPlace.last_name }}'s Place</p>
                    {% else %}
                        <img class="inklingImage" src="{{ STATIC_URL }}/media/images/locations/{{ member.pregame_inkling.location.id|default:"default" }}.jpg" />
                        <p class="pastInklingText">{{ member.pregame_inkling.location.name|default:"" }}</p>
                    {% endif %}
                {% endif %}
            </div>

            <div class="suggestions inklingSuggestions"></div>
        </div>

        <!-- Main event inkling -->
        <div id="mainEventInkling" class="inkling" inklingType="mainEvent">
            <div>
                <p class="inklingTitle">Main Event</p>
                {% if not pastDate %}
                    {% if member.main_event_inkling.memberPlace %} <!-- Check inkling type (member or location) -->
                        <img class="inklingImage" src="{{ STATIC_URL }}/media/images/members/{{ member.main_event_inkling.memberPlace.id|default:"default" }}.jpg" />
                        <input type="text" location="{{ member.main_event_inkling.memberPlace.first_name }} {{ member.main_event_inkling.memberPlace.last_name }}'s Place" />
                    {% else %}
                        <img class="inklingImage" src="{{ STATIC_URL }}/media/images/locations/{{ member.main_event_inkling.location.id|default:"default" }}.jpg" />
                        <input type="text" location="{{ member.main_event_inkling.location.name|default:"" }}" />
                    {% endif %}
                {% else %}
                    {% if member.main_event_inkling.memberPlace %} <!-- Check inkling type (member or location) -->
                        <img class="inklingImage" src="{{ STATIC_URL }}/media/images/members/{{ member.main_event_inkling.memberPlace.id|default:"default" }}.jpg" />
                        <p class="pastInklingText">{{ member.main_event_inkling.memberPlace.first_name }} {{ member.main_event_inkling.memberPlace.last_name }}'s Place</p>
                    {% else %}
                        <img class="inklingImage" src="{{ STATIC_URL }}/media/images/locations/{{ member.main_event_inkling.location.id|default:"default" }}.jpg" />
                        <p class="pastInklingText">{{ member.main_event_inkling.location.name|default:"" }}</p>
                    {% endif %}
                {% endif %}
            </div>

            <div class="suggestions inklingSuggestions"></div>
        </div>
        <div class="clear"></div>

        {% if not pastDate %}
            <!-- Dinner inkling invite -->
            <div id="dinnerInklingInvite" class="inklingInviteContainer {% if not member.dinner_inkling or member.dinner_inkling.memberPlace and member.dinner_inkling.memberPlace != member %}hidden{% endif %}" inklingType="dinner" inklingID="{{ member.dinner_inkling.id }}">
                <input type="text" />
                <button class="button inklingInviteButton">Invite</button>
                <div class="suggestions inklingInviteSuggestions"></div>
                <div class="invited"></div>
            </div>

            <!-- Pregame inkling invite -->
            <div id="pregameInklingInvite" class="inklingInviteContainer {% if not member.pregame_inkling or member.pregame_inkling.memberPlace and member.pregame_inkling.memberPlace != member %}hidden{% endif %}" inklingType="pregame" inklingID="{{ member.pregame_inkling.id }}">
                <input type="text" />
                <button class="button inklingInviteButton">Invite</button>
                <div class="suggestions inklingInviteSuggestions"></div>
                <div class="invited"></div>
            </div>

            <!-- Main event inkling invite -->
            <div id="mainEventInklingInvite" class="inklingInviteContainer {% if not member.main_event_inkling or member.main_event_inkling.memberPlace and member.main_event_inkling.memberPlace != member %}hidden{% endif %}" inklingType="mainEvent" inklingID="{{ member.main_event_inkling.id }}">
                <input type="text" />
                <button class="button inklingInviteButton">Invite</button>
                <div class="suggestions inklingInviteSuggestions"></div>
                <div class="invited"></div>
            </div>
        {% endif %}
    </div>
</div>
