<div class="grid_17 alpha omega">
    <div class="networkCard {{ network.network_type }}">
        <!-- Image -->
        <img src="{{ STATIC_URL }}/media/images/networks/{{ network.id }}.jpg" />

        <!-- Network info -->
        <div class="info">
            <!-- Name -->
            <div class="infoRow">
                <a class="cardName" href="{{ network.get_absolute_url }}">{{ network.name }}</a>
            </div>

            <!-- Number of members -->
            <div class="memberNetworks infoRow">
                <div class="infoRow">
                    <p class="numMembers">{{ network.num_members }} member{{ network.num_members|pluralize }}</p>
                </div>
            </div>
 
            <!-- Button list -->
            <div class="infoRow">
                {% for buttonClass, buttonText in network.button_list %}
                    <button class="cardButton {{buttonClass}}" networkID="{{ network.id }}" >{{ buttonText }}</button>
                {% endfor %}
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
