<div id="filters" style="text-align: center;">
    <div style="display: inline-block;">    
        <!-- People filter -->
        <p class="subheader" style="display: inline-block; margin-right: 30px;">People:</p>

        <select id="locationBoardPeopleSelect" class="locationBoardSelect" style="display: inline-block; margin-right: 30px; width: 200px;">
            <optgroup label="Blots">
                <option people="blots" selected="selected">All blots</option>
                {% for blot in member.blots.all %}
                    <option blotID="{{ blot.id }}">{{ blot.name }}</option>
                {% endfor %}
            </optgroup>

            {% if member.networks.all %}
                <optgroup label="Networks">
                    {% for network in member.networks.all %}
                        <option networkID="{{ network.id }}">{{ network.name }}</option>
                    {% endfor %}
                </optgroup>
            {% endif %}
        </select>

        <!-- Inkling filter -->
        <p class="subheader" style="display: inline-block; margin-left: 30px; margin-right: 30px;">Inkling:</p>

        <select id="locationBoardInklingSelect" class="locationBoardSelect" style="display: inline-block; width: 200px;">
            <option inklingType="dinner">Dinner</option>
            <option inklingType="pregame">Pregame</option>
            <option inklingType="mainEvent" selected="selected">Main event</option>
        </select>
    </div>
    <div class="clear"></div>
</div>

<!-- Location board -->
<div id="locationBoard">
    {% include "locationBoard.html" %}
</div>
