{% load days months years from extraTags %}

<!--  Errors -->
{% if registrationInvalid.errors %}
    <div class="errors">
        {% for error in registrationInvalid.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
{% endif %}

<!-- Registration form -->
<div id="registrationForm">
    {% csrf_token %}

    <!-- Registration form -->
    <table>
        <!-- First name -->
        <tr>
            <th><label for="registrationFirstName">First name:</label></th>
            <td><input id="registrationFirstName" class="{% if registrationInvalid.first_name %}invalid{% endif %}" type="text" maxlength="30" value="{{ registrationData.first_name }}" /></td>
        </tr>

        <!-- Last name -->
        <tr>
            <th><label for="registrationLastName">Last name:</label></th>
            <td><input id="registrationLastName" class="{% if registrationInvalid.last_name %}invalid{% endif %}" type="text" maxlength="30" value="{{ registrationData.last_name }}" /></td>
        </tr>

        <!-- Email -->
        <tr>
            <th><label for="registrationEmail">Email:</label></th>
            <td><input id="registrationEmail" class="{% if registrationInvalid.email %}invalid{% endif %}" type="text" maxlength="50" value="{{ registrationData.email }}" /></td>
        </tr>

        <!-- Confirm email -->
        <tr>
            <th><label for="registrationConfirmEmail">Confirm email:</label></th>
            <td><input id="registrationConfirmEmail" class="{% if registrationInvalid.confirm_email %}invalid{% endif %}" type="text" maxlength="50" value="{{ registrationData.confirm_email }}" /></td>
        </tr>

        <!-- Password -->
        <tr>
            <th><label for="registrationPassword">Password:</label></th>
            <td><input id="registrationPassword" class="{% if registrationInvalid.password %}invalid{% endif %}" type="password" maxlength="100" value="{{ registrationData.password }}" /></td>
        </tr>

        <!-- Confirm password -->
        <tr>
            <th><label for="registrationConfirmPassword">Confirm password:</label></th>
            <td><input id="registrationConfirmPassword" class="{% if registrationInvalid.confirm_password %}invalid{% endif %}" type="password" maxlength="100" value="{{ registrationData.confirm_password }}" /></td>
        </tr>

        <!-- Birthday -->
        <tr>
            <th><label for="registrationMonth">Birthday:</label></th>
            <td>
                <select id="registrationMonth" class="monthSelect {% if registrationInvalid.month %}invalid{% endif %}">
                    <option value="0" {% if not registrationData.month %}selected{% endif %}>Month</option>
                    {% for month, abbreviation in null|months %}
                        <option value="{{ forloop.counter }}" {% if registrationData.month == forloop.counter %}selected{% endif %}>{{ abbreviation }}</option>
                    {% endfor %}
                </select>
                <select id="registrationDay" class="daySelect {% if registrationInvalid.day %}invalid{% endif %}">
                    <option value="0" {% if not registrationData.day %}selected{% endif %}>Day</option>
                    {% for day in registrationData.month|days:registrationData.year %}
                        <option value="{{ day }}" {% if registrationData.day == day %}selected{% endif %}>{{ day }}</option>
                    {% endfor %}
                </select>
                <select id="registrationYear" class="yearSelect {% if registrationInvalid.year %}invalid{% endif %}">
                    <option value="0" {% if not registrationData.year %}selected{% endif %}>Year</option>
                    {% for year in 100|years %}
                        <option value="{{ year }}" {% if registrationData.year == year %}selected{% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>

        <!-- Gender -->
        <tr>
            <th><label for="registrationGender">Gender:</label></th>
            <td>
                <select id="registrationGender" class="{% if registrationInvalid.gender %}invalid{% endif %}">
                    <option value="" {% if registrationData.gender == "" %}selected{% endif %}>Gender</option>
                    <option value="Male" {% if registrationData.gender == "Male" %}selected{% endif %}>Male</option>
                    <option value="Female" {% if registrationData.gender == "Female" %}selected{% endif %}>Female</option>
                </select>
            </td>
        </tr>
    </table>

    <!-- Registration button -->
    <div class="buttonContainer">
        <button id="registrationButton">Register</button>
    </div>
</div>
