<div id="requestsContent" class="grid_17 alpha omega">
    <!-- Requested -->
    <div id="requestedContent" class="grid_17">
        <p class="subsectionTitle">Requested</p>
        <div id="requestedContentMembers">
            {% for m in requestedMembers %}
                {% include "memberCard.html" %}
            {% empty %}
                <p style="margin-bottom: 15px;">No one has requested to follow you.</p>
            {% endfor %}
        </div>
    </div>

    <!-- Pending -->
    <div id="pendingContent" class="grid_17">
        <p class="subsectionTitle">Pending</p>
        <div id="pendingContentMembers">
            {% for m in pendingMembers %}
                {% include "memberCard.html" %}
            {% empty %}
                <p>You have no pending requests to follow anyone.</p>
            {% endfor %}
        </div>
    </div>
</div>
