<!-- Request password reset message -->
<p class="loginMessage">Forgot your password? No worries - we've got you covered! Just give us your email below and we'll send you an email with a link to reset your password.</p>

<!-- Request password reset form -->
<table>
    <!-- Email -->
    <tr>
        <th><label for="requestPasswordResetEmail">Email:</label></th>
        <td><input id="requestPasswordResetEmail" type="text" maxlength="50" value="" /></td>
    </tr>
</table>

<!-- Request password reset button -->
<div class="buttonContainer">
    <button id="requestPasswordResetButton">Submit</button>
</div>
