<div id="resetAccountPasswordContent">
    <!-- Reset password message -->
    <p style="margin-bottom: 15px;">Fill out the form below to reset your password.</p>

    <!--  Errors -->
    {% if invalid.errors %}
        <div class="errors">
            {% for error in invalid.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Reset password form -->
    <table id="resetPasswordForm">
        <!-- Old password -->
        <tr>
            <th><label for="currentPassword">Current password:</label></th>
            <td><input id="currentPassword" {% if invalid.current_password %}class="invalid"{% endif %} type="password" maxlength="100" value="{{ data.current_password }}" /></td>
        </tr>

        <!-- New password -->
        <tr>
            <th><label for="newPassword">New password:</label></th>
            <td><input id="newPassword" {% if invalid.new_password %}class="invalid"{% endif %} type="password" maxlength="100" value="{{ data.new_password }}" /></td>
        </tr>

        <!-- Confirm new password -->
        <tr>
            <th><label for="confirmNewPassword">Confirm new password:</label></th>
            <td><input id="confirmNewPassword" {% if invalid.confirm_new_password %}class="invalid"{% endif %} type="password" maxlength="100" value="{{ data.confirm_new_password }}" /></td>
        </tr>
    </table>
    
    <!-- Reset password button -->
    <button id="resetPasswordButton">Reset password</button>
</div>

<!-- Reset password confirmation -->
<div id="resetAccountPasswordConfirmation">
    <p>Your account password has been reset.</p>
</div>
