<div id="resetAccountPasswordContainer">
    <!-- Reset password message -->
    <p style="margin-bottom: 15px;">Fill out the form below to reset your password.</p>

    <!-- Reset password form -->
    <table>
        <!-- Old password -->
        <tr>
            <th><label for="currentPassword">Current password:</label></th>
            <td><input id="currentPassword" {% if invalidCurrentPassword %}class="invalid"{% endif %} type="password" maxlength="100" value="{{ currentPassword }}" /></td>
        </tr>

        <!-- New password -->
        <tr>
            <th><label for="newPassword">New password:</label></th>
            <td><input id="newPassword" {% if invalidNewPassword %}class="invalid"{% endif %} type="password" maxlength="100" value="{{ newPassword }}" /></td>
        </tr>

        <!-- Confirm new password -->
        <tr>
            <th><label for="confirmNewPassword">Confirm new password:</label></th>
            <td><input id="confirmNewPassword" {% if invalidConfirmNewPassword %}class="invalid"{% endif %} type="password" maxlength="100" value="{{ confirmNewPassword }}" /></td>
        </tr>
    </table>
    
    <!-- Reset password button -->
    <button id="resetPasswordButton">Reset password</button>
</div>

<div id="resetAccountPasswordConfirmationContainer">
    <p>Your account password has been reset.</p>
</div>
