<!-- Reset password message -->
<p class="loginMessage">Hi, {{ m.first_name }}! Type in and confirm a new password below to reset the password for <span class="boldFont">{{ m.username }}</span>.</p>

<!-- Reset password form -->
<table>
    <!-- Password -->
    <tr>
        <th><label for="resetPasswordPassword">Password:</label></th>
        <td><input id="resetPasswordPassword" type="password" maxlength="100" value="" /></td>
    </tr>

    <!-- Confirm password -->
    <tr>
        <th><label for="resetPasswordConfirmPassword">Confirm password:</label></th>
        <td><input id="resetPasswordConfirmPassword" type="password" maxlength="100" value="" /></td>
    </tr>
</table>
    
<!-- Reset password button -->
<div class="buttonContainer">
    <button id="resetPasswordButton" memberID="{{ m.id }}" verificationHash="{{ m.verification_hash }}">Reset password</button>
</div>
