{% extends "base.html" %}

{% block title %}
	<title>Inkle | Search | {{ query }}</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/search.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/memberCard.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/sphereCard.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/locationCard.css" />
{% endblock css %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}/js/search.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/memberCard.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/sphereCard.js"></script>
{% endblock js %}

{% block mainContent %}
    <div id="mainContent" class="container_24">
        <!-- Search results summary -->
        <div id="searchSummary" class="grid_6" query="{{ query }}">
            <!-- Title -->
            <p class="searchSummaryTitle">Results summary</p>

            <!-- Query -->
            <div class="searchSummarySection">
                <p class="searchSummarySubtitle">Query</p>
                <p>{{ query }}</p>
            </div>
            
            <!-- People -->
            <div class="searchSummarySection">
                <p class="searchSummarySubtitle">People</p>
                <p>All: {{ members|length }}</p>
                <p>Following: {{ member.num_following }}</p>
                <p>Followers: {{ member.num_followers }}</p>
                <p>Other: {{ member.num_other_people }}</p>
            </div>
            
            <!-- Locations -->
            <div class="searchSummarySection">
                <p class="searchSummarySubtitle">Locations</p>
                <p>All: {{ locations|length }}</p>
            </div>

            <!-- Spheres -->
            <div class="searchSummarySection">
                <p class="searchSummarySubtitle">Spheres</p>
                <p>All: {{ spheres|length }}</p>
                <p>Mine: {{ member.num_my_spheres }}</p>
                <p>Other: {{ member.num_other_spheres }}</p>
            </div>
            
            <!-- TODO: get rid of -->
            <div>
                <input id="newLocationButton" class="newItemInput newItemButton" type="button" value="Create a new location"/>
                <input id="newLocationText" class="newItemInput newItemText" type="text"/>
                <input id="newLocationSubmit" class="newItemInput newItemButton" type="button" value="Submit"/>
                <input id="newLocationCancel" class="newItemInput newItemButton" type="button" value="Cancel"/>
            </div>
            <div>
                <input id="newSphereButton" class="newItemInput newItemButton" type="button" value="Create a new sphere"/>
                <input id="newSphereText" class="newItemInput newItemText" type="text"/>
                <input id="newSphereSubmit" class="newItemInput newItemButton" type="button" value="Submit"/>
                <input id="newSphereCancel" class="newItemInput newItemButton" type="button" value="Cancel"/>
            </div>
        </div>

        <div class="grid_17 push_1 alpha omega">
            <!-- Page title -->
            <div class="grid_17">
                <p class="pageTitle">Search</p>
            </div>
            <div class="clear"></div>

            <!-- Main search content links -->
            <div id="searchContentLinks" class="contentLinks grid_17">
                <p class="selectedContentLink" contentType="all">All</p>
                <p contentType="people">People</p>
                <p contentType="locations">Locations</p>
                <p contentType="spheres">Spheres</p>
            </div>
            <div class="clear"></div>
            
            <!-- Search content -->
            <div id="searchContent" class="grid_17 alpha omega">
                <!-- People content links -->
                <div id="peopleContentLinks" class="subsectionContentLinks grid_17">
                    <p class="selectedSubsectionContentLink" contentType="all">All</p>
                    <p contentType="following">Following</p>
                    <p contentType="followers">Followers</p>
                    <p contentType="other">Other</p>
                </div>
                <div class="clear"></div>
                
                <!-- Sphere content links -->
                <div id="spheresContentLinks" class="subsectionContentLinks grid_17">
                    <p class="selectedSubsectionContentLink" contentType="all">All</p>
                    <p contentType="mySpheres">Mine</p>
                    <p contentType="otherSpheres">Other</p>
                </div>
                <div class="clear"></div>
                
                <div id="mainSearchContent" class="grid_17">
                    <!-- People -->
                    <p class="subsectionTitle">People</p>
                    <div id="peopleContent" class="peopleContent" context="search">
                        {% for m in members %}
                            {% include "memberCard.html" %}
                        {% endfor %}
                        <button class="loadContentButton" contentType = "members">Load more members</button>
                    </div>
                    
                    <p id="noPeopleResultsMessage" class="noResultsMessage">No results match your query.</p>

                    <!-- Locations -->
                    <p class="subsectionTitle">Locations</p>
                    <div id="locationsContent">
                        {% for location in locations %}
                            {% include "locationCard.html" %}
                        {% endfor %}
                        <button class="loadContentButton" contentType = "locations">Load more locations</button>
                    </div>
                    <p id="noLocationsResultsMessage" class="noResultsMessage">No results match your query.</p>
            
                    <!-- Spheres -->
                    <p class="subsectionTitle">Spheres</p>
                    <div id="spheresContent" context="search">
                        {% for sphere in spheres %}
                            {% include "sphereCard.html" %}
                        {% endfor %}
                        <button class="loadContentButton" contentType = "spheres">Load more locations</button>
                    </div>
                    <p id="noSpheresResultsMessage" class="noResultsMessage">No results match your query.</p>
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>
{% endblock mainContent%}
