<!-- Number of members in sphere -->
<div class="infoSection">
    <p class="infoLabel">Number of members:</p>
    <p id="sphereMemberCount">{{ sphere.num_members }}</p>
</div>

<!-- Button list -->
{% for buttonClass, buttonText, toolTip in sphere.button_list %}
    <button class="cardButton {{ buttonClass }}" sphereID="{{ sphere.id }}" title="{{ toolTip }}" style="float: left; margin-left: 0px;">{{ buttonText }}</button>
{% endfor %}

<!-- Edit sphere button -->
{% if member.is_staff %}
    <button id="sphereEditButton" sphereID="{{ sphere.id }}">Edit sphere</button>
{% endif %}
