{% load truncate_characters from extraTags %}

{% for category, categoryTitle in categories %}
    <!-- Category title -->
    {% if categoryTitle %}
        <div class="suggestionCategory">
            <p>{{ categoryTitle }}</p>
        </div>
    {% endif %}
      
    <!-- Category suggestions -->
    {% for suggestion in category %}
        {% if queryType == "search" %}
            <a href="{{ suggestion.get_absolute_url }}">
        {% endif %}
        <div class="suggestion" suggestionID="{{ suggestion.id }}" category="{{ categoryTitle|lower|default:"" }}">
            {% if category.suggestionType == "blots" %}
                <img src="{{ STATIC_URL }}/media/images/main/blot.jpg" />
            {% else %}
                <img src="{{ STATIC_URL }}/media/images/{{ category.suggestionType }}/{{ suggestion.id }}.jpg" />
            {% endif %}
            <p fullName="{{ suggestion.name }}">{{ suggestion.name|truncate_characters:numChars }}</p>
        </div>
        {% if queryType == "search" %}
            </a>
        {% endif %}
    {% endfor %}
{% empty %}
    <!-- No suggestions -->
    <div id="noSuggestions">No results</div>
{% endfor %}
