{% load extraTags %}

{% for category, categoryTitle in categories %}
    <!-- Category title -->
    {% if categoryTitle %}
        <div class="suggestionCategory">
            <p>{{ categoryTitle }}</p>
        </div>
    {% endif %}
      
    <!-- Category suggestions -->
    {% for suggestion in category %}
        {% if queryType == "search" %}
            <a href="{{ suggestion.get_absolute_url }}">
        {% endif %}
        <div class="suggestion" suggestionID="{{ suggestion.id }}">
            <img src="{{ STATIC_URL }}/media/images/locations/{{ suggestion.image }}" />
            <p>{{ suggestion.name|truncatecharacters:numChars }}</p>
        </div>
        {% if queryType == "search" %}
            </a>
        {% endif %}
    {% endfor %}
{% empty %}
    <!-- No suggestions -->
    <div id="noSuggestions">No results</div>
{% endfor %}
