<div id="updateAccountEmailContent">
    <!-- Reset password message -->
    <p style="margin-bottom: 15px;">Use the following form to change the email address associated with your Inkle account. Note that you will be logged out as soon as you click the button below! We will send an email to your new email address and you will not be able to log back in until you follow the email's instructions.</p>

    <!--  Errors -->
    {% if invalid.errors %}
        <div class="errors">
            {% for error in invalid.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Update email form -->
    <table id="updateEmailForm">
        <!-- Old password -->
        <tr>
            <th><label for="currentPassword">Current password:</label></th>
            <td><input id="currentPassword" {% if invalid.current_password %}class="invalid"{% endif %} type="password" maxlength="100" value="{{ data.current_password }}" /></td>
        </tr>

        <!-- New email -->
        <tr>
            <th><label for="newEmail">New email:</label></th>
            <td><input id="newEmail" {% if invalid.new_email %}class="invalid"{% endif %} type="text" maxlength="50" value="{{ data.new_email }}" /></td>
        </tr>

        <!-- Confirm new email -->
        <tr>
            <th><label for="confirmNewEmail">Confirm new email:</label></th>
            <td><input id="confirmNewEmail" {% if invalid.confirm_new_email %}class="invalid"{% endif %} type="text" maxlength="50" value="{{ data.confirm_new_email }}" /></td>
        </tr>
    </table>
    
    <!-- Update email button -->
    <button id="updateEmailButton">Change email address</button>
</div>

<div id="updateAccountEmailConfirmation">
    <p>The email address associated with your account has been changed.</p>
</div>
