{% extends "base.html" %}

{% block title %}
	<title>Inkle | Email verification</title>
{% endblock title %}
	
{% block css %}
{% endblock css %}

{% block js %}
{% endblock js %}

{% block mainContent %}
    <div id="mainContent" class="container_24">
        <div class="grid_24" style="text-align: center;">
            {% if verified %}
                <p>Congratulations {{ first_name }}, your account has been verified! Head to the <a href="/login/">home page</a> to log in and start using Inkle!</p>
            {% else %}
                <p>Your account could not be verified. This could be because no account exists with the provided username, the activation code is incorrect, or the account has already been activated.</p>
            {% endif %}
        </div>
{% endblock mainContent %}
